<div class="about-container">
    <h1 class="centered">Vous êtes hôtelier restaurateur ?</h1>
    <h2 class="centered">NOUS AUSSI !</h2><br>

    <hr />
    <div class="col-md-6">
        <img src="img/cuisine.jpg"/>
    </div>
    <div class="col-md-6">
        Crée en 2014 par et pour des hôteliers restaurateurs, le site ouestemploichr.fr a rapidement évolué pour devenir LEADER de l’emploi en hôtellerie restauration sur l’Ouest (Bretagne & Pays de la Loire).<br>
        <br>
        De ce succès est né « COOKORICO.COM » afin de centraliser l’emploi pour le secteur des Cafés, Hôtels et restaurants sur la France entière et apporter une vraie solution à la profession.<br>
        <strong><br>
            Notre Objectif : Réveiller l’emploi en Hôtellerie Restauration, ensemble !
        </strong><br>
    </div>

    <div class="founders col-md-12">
        <br /><br /><br /><br />
        <div class="col-md-6">
            <div class="col-md-4">
                <img src="/img/t-vasseur.png" class="founder-picture"/>
            </div>
            <div class="col-md-8">
                <strong>Tanguy VASSEUR</strong><br />
                Fondateur de Cookorico<br />
                Hôtelier de métier<br />
                10 ans dans les métiers de l'hôtellerie, 8 ans co-gérant de l'hôtel Les Océanes à Lorient
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <img src="/img/g-moreau.png" class="founder-picture"/>
            </div>
            <div class="col-md-8">
                <strong>Georges MOREAU</strong><br />
                Chargé de développement - associé restaurateur de métier<br />
                10 ans chef d'entreprise dans la restauration<br />
                9 ans directeur de restauration au sein d'un grand groupe
            </div>
        </div>
    </div>
</div>