<div class="col-md-12 header-container">
    <div class="col-md-12 col-sm-12 col-xs-11 items-count" style="color: black">
        Créer un nouvel abonnement
    </div>
</div>

<div class="col-md-12" style="margin-top: 15px;">
    <div class="col-md-3">
        <label>Email</label>
        <input type="text"
               name="planEmail"
               [(ngModel)]="planEmail"
               ngControl="planEmail"
               class="form-control"
               placeholder="Email de l'établissement"/>
    </div>
    <div class="col-md-2">
        <label>Crédits</label>
        <input type="number"
               name="planCredits"
               [(ngModel)]="planCredits"
               ngControl="planCredits"
               [disabled]="planIsUnlimited"
               class="form-control"
               placeholder="Crédits"/>
    </div>
    <div class="col-md-2">
        <label>Contacts</label>
        <input type="number"
               class="form-control"
               name="planContacts"
               [(ngModel)]="planContacts"
               ngControl="planContacts"
               placeholder="Contacts"/>
    </div>
    <div class="col-md-2">
        <label>Emplacements</label>
        <input type="number"
               class="form-control"
               name="planSpaces"
               [(ngModel)]="planSpaces"
               ngControl="planSpaces"
               placeholder="Emplacements"/>
    </div>
    <div class="col-md-2">
        <label>Remonter annonce</label>
        <input type="number"
               class="form-control"
               name="planPullUpPost"
               [(ngModel)]="planPullUpPost"
               ngControl="planPullUpPost"
               placeholder="Remonter annonce"/>
    </div>
    <div class="col-md-1">
        <label>Illimité</label>
        <input type="checkbox"
               [(ngModel)]="planIsUnlimited"
               ngControl="planIsUnlimited"/>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <label>Date de fin</label>
        <input type="date"
               [(ngModel)]="planEndsAt"
               ngControl="planEndsAt"
               [disabled]="!planIsUnlimited"
               name="planEndsAt"
               class="form-control"
               placeholder="Date de fin"/>
    </div>
    <div class="col-md-12">
        <br />
         <button class="btn btn-primary full-width"
                 (click)="createNewPlan()">
             <span class="fa fa-save"></span> &nbsp; Sauvegarder
         </button>
    </div>
</div>

<div class="col-md-12 header-container">
    <div class="col-md-12 col-sm-12 col-xs-11 items-count" style="color: black">
        {{ plans.length }} abonnements
    </div>
</div>

<div class="col-md-4">
    <hr />
    <input class="form-control full-width"
           type="text"
           [(ngModel)]="searchEmail"
           name="searchEmail"
           ngControl="searchEmail"
           placeholder="Rechercher par email"/>
    <hr />
</div>
<div class="col-md-3">
    <hr />
    <input class="form-control full-width"
           type="text"
           [(ngModel)]="searchName"
           name="searchName"
           ngControl="searchName"
           placeholder="Rechercher par nom"/>
    <hr />
</div>
<div class="col-md-3">
    <hr />
    <input class="form-control full-width"
           type="number"
           [(ngModel)]="searchId"
           name="searchId"
           ngControl="searchId"
           style="width: 100% !important;"
           placeholder="Rechercher par ID"/>
    <hr />
</div>
<div class="col-md-2">
    <br />
    <br />
    <button class="btn btn-primary full-width"
            (click)="search()">
        <span class="fa fa-search"></span> &nbsp; Rechercher
    </button>
</div>


<div class="col-md-12 list-container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>CP</th>
            <th>Pack</th>
            <th>Admin</th>
            <th>Utilisateurs.</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plan of plans">
            <th scope="row">
                <span *ngIf="plan.business">#{{ plan.business.id }}</span><br />
            </th>
            <td>
                <span *ngIf="plan.business">
                    <a routerLink="/profil/etablissement/editer/{{ plan.business.id }}">
                        {{ plan.business.title }}
                    </a>
                </span><br />
            </td>
            <td>
                <span *ngIf="plan.business">{{ plan.business.place.city }}</span><br />
            </td>
            <td>
                <span *ngIf="plan.business">{{ plan.business.place.postalCode }}</span><br />
            </td>
            <td>
                <button class="btn btn-default"
                        (click)="openModalWithPlan(plan)">
                    Pack
                </button>
            </td>
            <td>
                <span *ngIf="plan.business && plan.business.users">
                    <span *ngIf="plan.business.users[0]">
                        <a (click)="loginUsingId(plan.business.users[0].id)">
                            {{ plan.business.users[0].firstName }} {{ plan.business.users[0].lastName }}
                        </a>
                    </span>
                </span>
            </td>
            <td>
                <ul *ngIf="plan.business">
                    <li *ngFor="let businessUser of plan.business.users; let i = index">
                        <span *ngIf="i > 0">
                            <a (click)="loginUsingId(businessUser.id)">
                                {{ businessUser.firstName }} {{ businessUser.lastName }}
                            </a>
                        </span>
                    </li>
                </ul>
                <!--<button class="btn btn-default"
                        (click)="updatePlan(plan.id, plan.credits, plan.daily_contacts, plan.spaces, plan.pull_up_credits, plan.duration, plan.is_unlimited, plan.ends_at)">
                    <span class="fa fa-save"></span>
                </button>-->
            </td>
            <td>
                <button class="btn btn-danger"
                        (click)="deletePlan(plan.id)">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div bsModal
     #planSettingsModal="bs-modal"
     id="plan-settings-modal"
     class="modal fade in"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body row" *ngIf="currentPlan">
                <div class="col-md-2">
                    <label>Crédits</label>
                    <input type="number"
                           class="form-control"
                           [(ngModel)]="currentPlan.credits"
                           ngControl="currentPlan.credits"
                           name="planCredits"
                           [disabled]="currentPlan.is_unlimited"
                           [class.disabled]="currentPlan.is_unlimited"
                           value="{{ currentPlan.credits }}"
                           placeholder="Crédits"/>
                </div>
                <div class="col-md-2">
                    <label>Contacts</label>
                    <input type="number"
                           [(ngModel)]="currentPlan.daily_contacts"
                           ngControl="currentPlan.daily_contacts"
                           name="listPlanDailyContacts"
                           class="form-control"
                           value="{{ currentPlan.daily_contacts }}"
                           placeholder="Contacts"/>
                </div>
                <div class="col-md-2">
                    <label>Emplacements</label>
                    <input type="number"
                           [(ngModel)]="currentPlan.spaces"
                           ngControl="currentPlan.spaces"
                           name="planSpaces"
                           class="form-control"
                           value="{{ currentPlan.spaces }}"
                           placeholder="Emplacements"/>
                </div>
                <div class="col-md-2">
                    <label>Remonter</label>
                    <input type="number"
                           [(ngModel)]="currentPlan.pull_up_credits"
                           ngControl="currentPlan.pull_up_credits"
                           name="planPullUpCredits"
                           class="form-control"
                           value="{{ currentPlan.pull_up_credits }}"
                           placeholder="Crédits remonter"/>
                </div>
                <div class="col-md-4">
                    <label>Illimité</label>
                    <input type="checkbox"
                           [(ngModel)]="currentPlan.is_unlimited"
                           ngControl="plan.is_unlimited"
                           name="listPlanIsUnlimited"
                           [checked]="currentPlan.is_unlimited"/>
                    <input type="date"
                           [(ngModel)]="currentPlan.ends_at"
                           ngControl="currentPlan.ends_at"
                           [disabled]="!currentPlan.is_unlimited"
                           value="{{ currentPlan.ends_at }}"
                           name="listPlanUnlimitedEndsAt"
                           class="form-control"
                           placeholder="Date de fin"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default"
                        (click)="hidePlanModal()">
                    Fermer
                </button>
                <button class="btn btn-primary"
                        (click)="updatePlan()">
                    Sauvegarder
                </button>
            </div>
        </div>
    </div>
</div>

<!-- TODO : this is a workaround, we have to change it in near future -->
<div id="modal-backdrop-replacement"
     style="background: rgba(0,0,0,0.7);
             position: fixed;
             display: none;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             z-index: 10;">

</div>