<h2 class="centered" *ngIf="business.users">
    Contacts de l'établissement
</h2>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Rôle</th>
            <th>Accès</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of business.users">
            <th scope="row">
                {{ user.id }}
            </th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>
                <span *ngIf="user.id == loggedUser.id">
                    Vous même
                </span>
                <span *ngIf="user.id != loggedUser.id">
                    Collaborateur
                </span>
            </td>
            <td>
                <button class="btn btn-default"
                        [disabled]="user.id == loggedUser.id"
                        (click)="detachBusinessContact(user.id)">
                    Supprimer l'accès
                </button>
            </td>
        </tr>
    </tbody>
 </table>

<form #createBusinessContactForm="ngForm">
    <div class="col-md-12">
        <h2 class="centered">
            Créer un nouveau contact
        </h2>
    </div>

    <div class="col-md-12 no-padding">
        <br />
        <div class="col-md-6">
            <select class="form-control"
                    [(ngModel)]="user.civility_id"
                    ngControl="user.civility_id"
                    required
                    name="civilityId">
                <option disabled selected value="0">-- Civilité --</option>
                <option *ngFor="let civility of civilities"
                        value="{{ civility.id }}">
                    {{ civility.title }}
                </option>
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <br />
        <input type="text"
               placeholder="Prénom"
               required
               class="form-control"
               [(ngModel)]="user.firstName"
               ngControl="user.firstName"
               name="firstName"/>
    </div>

    <div class="col-md-6">
        <br />
        <input type="text"
               placeholder="Nom"
               required
               class="form-control"
               [(ngModel)]="user.lastName"
               ngControl="user.lastName"
               name="lastName"/>
    </div>

    <div class="col-md-6">
        <br />
        <input type="email"
               placeholder="Email"
               class="form-control"
               required
               [(ngModel)]="user.email"
               ngControl="user.email"
               name="email"/>
    </div>

    <div class="col-md-6">
        <br />
        <input type="password"
               placeholder="Mot de passe"
               class="form-control"
               required
               [(ngModel)]="user.password"
               ngControl="user.password"
               name="password"/>
    </div>
    <div class="col-md-12" *ngIf="error">
        <div class="alert alert-danger">
            {{ error }}
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <br />
        <button class="btn btn-primary full-width"
                [disabled]="!createBusinessContactForm.valid"
                (click)="createBusinessContact()">
            Enregistrer le contact
        </button>
    </div>
</form>