<h2 class="centered" *ngIf="!isLoading">
    Vous avez {{ items.length }} établissement(s)
    <hr />
</h2>

<h2 class="centered" *ngIf="isLoading">
    Chargement des établissements... &nbsp; <span class="fa fa-spinner fa-spin"></span>
    <hr />
</h2>

<div *ngIf="user.user_type_id == 1">
    <div class="col-md-10">
        <hr />
        <input class="form-control full-width"
               type="text"
               [(ngModel)]="searchText"
               name="searchText"
               ngControl="searchText"
               placeholder="Rechercher par nom"/>
        <hr />
    </div>
    <div class="col-md-2">
        <br />
        <br />
        <button class="btn btn-primary"
                (click)="searchBusiness()">
            Rechercher
        </button>
    </div>
</div>

<!-- <div class="alert alert-warning alert-dismissible fade in" role="alert"
     *ngIf="items.length == 1">
    <strong>Vous avez créée votre premier établissement</strong>
    Si vous souhaitez en créer de nouveaux, merci de <a href="mailto:contact@cookorico.fr">nous contacter</a>
</div> -->

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items | paginate: { itemsPerPage: 20, currentPage: p }">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 [class.logo]="item.logo">
                <a routerLink="/profil/etablissement/editer/{{ item.id }}">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.logo">
                        <img src="{{ item.logo }}"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="item.logo"
                         [class.col-md-7]="!item.logo"
                         [class.col-sm-5]="item.logo"
                         [class.col-sm-7]="!item.logo"
                         class="col-xs-8">
                        <h3>{{ item.title }}</h3>
                        <span *ngIf="item.place">
                            <i class="fa fa-map-marker"></i> &nbsp; {{ item.place.adress }}<br />
                            <span *ngIf="item.place.city">
                                {{ item.place.city }}
                            </span>
                        </span>
                    </div>
                </a>
                <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-1 col-md-3 col-sm-3 col-xs-4 centered">
                    <button class="btn btn-primary full-width"
                            routerLink="/profil/etablissement/editer/{{ item.id }}">
                        Voir la fiche
                    </button><br />
                    <button class="btn btn-primary full-width"
                            routerLink="/etablissement/{{ item.id }}">
                        Voir la page emploi
                    </button><br />
                    <button class="btn btn-primary full-width"
                            routerLink="/profil/etablissement/contacts/{{ item.id }}">
                        Gérer les utilisateurs
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <pagination-controls #pagination (pageChange)="p = $event" (click)="pageChanged()">
       <!-- <custom-pagination [pagination]="pagination"></custom-pagination>-->
    </pagination-controls>
</div>

<div class="col-md-12 add-item-container centered"
     *ngIf="user.user_type_id == 4 || user.user_type_id == 5"
     routerLink="/profil/etablissement/creer">
    <button class="btn btn-primary full-width">
        <span class="fa fa-plus"></span> &nbsp; Ajouter un nouvel établissement
    </button>
</div>

<div class="col-md-12 centered">
    <br />
    <br />
    <div class="about-us">
        <h3>Si vous souhaitez ajouter un ou plusieurs établissements,</h3>
        <h2>merci de nous contacter</h2>
        <button class="btn btn-default">
            <span class="fa fa-envelope"></span> &nbsp; Par mail
        </button>
        <button class="btn btn-default">
            <span class="fa fa-phone"></span> &nbsp; 02 97 21 89 23
        </button>
    </div>
</div>