<div class="col-md-12">
    <form #studyForm="ngForm">
        <div class="col-md-12">
            <business-select [isRequired]="true"
                             *ngIf="!business.title"
                             [businessId]="study.business_id"
                             (businessIdChange)="handleBusinessIdChange($event)">

            </business-select>
            <label *ngIf="business.title">Établissement</label>
            <select class="form-control"
                    *ngIf="business.title"
                    disabled>
                <option selected disabled>{{ business.title }}</option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Diplôme</label>
            <select required
                    [(ngModel)]="study.diploma_id"
                    name="study_diploma"
                    class="form-control">
                <option disabled selected>-- Diplôme --</option>
                <option *ngFor="let diploma of diplomas"
                        value="{{ diploma.id }}">
                    {{ diploma.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Date de début</label>
            <input type="date"
                   required
                   [(ngModel)]="study.start_date"
                   name="study_start_date"
                   class="form-control"
                   placeholder="Date de début"/>
        </div>
        <div class="col-md-6">
            <label>Date de fin</label>
            <input type="date"
                   required
                   class="form-control"
                   [(ngModel)]="study.end_date"
                   name="study_end_date"
                   placeholder="Date de fin"/>
        </div>
        <div class="col-md-12">
            <label>Description</label>
            <textarea name="description"
                      [(ngModel)]="study.description"
                      name="study_description"
                      class="form-control"
                      placeholder="Description"></textarea>
        </div>
        <div class="col-md-6 hidden-xs hidden-sm">
            <a routerLink="/profil/formations">
                <button class="btn btn-default back-btn">
                    <span class="fa fa-arrow-left"></span> &nbsp;
                    Retour aux formations
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary submit-btn"
                    [disabled]="!studyForm.valid || isLoading"
                    (click)="submitStudy()">
                <span *ngIf="!isLoading">
                    Sauvegarder
                </span>
                <span *ngIf="isLoading">
                    <span class="fa fa-spinner fa-spin"></span> &nbsp; Chargement
                </span>
            </button>
        </div>
    </form>
</div>