<div class="col-md-12">
    <h2>
        Qu'est ce qui vous a plu chez {{ testimonial.employee.firstName }} {{ testimonial.employee.lastName }} ?
    </h2>
    <br />
</div>
<div class="col-md-12">
    <textarea [(ngModel)]="testimonial.answer_content"
              rows="10"
              class="form-control full-width">

    </textarea>
</div>
<div class="col-md-6">
    <br />
    <button class="btn btn-default full-width"
            routerLink="/profil/demandes_de_recommandation">
        Retour
    </button>
</div>
<div class="col-md-6">
    <br />
    <button class="btn btn-primary full-width"
            [disabled]="isLoading || !testimonial.answer_content"
            (click)="submitTestimonial()">
        Sauvegarder <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span>
    </button>
</div>
