<div class="col-md-12 header-container">
    <h1>
        Vous avez {{ items.length }} expérience<span *ngIf="items.length > 1">s</span>
    </h1>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items"
            [class.selected]="checkedItemsList.indexOf(item.id) != -1">
            <div class="col-md-11 col-sm-11 col-xs-10 item"
                 [class.logo]="item.business.logo">
                <a routerLink="/profil/experience/editer/{{ item.id }}">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.business.logo">
                        <img src="{{ item.business.logo }}"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="item.business.logo"
                         [class.col-md-7]="!item.business.logo"
                         [class.col-sm-5]="item.business.logo"
                         [class.col-sm-7]="!item.business.logo"
                         class="col-xs-8">
                        <h3>{{ item.job_naming.title }}</h3>
                        <span *ngIf="item.testimonial && item.testimonial.is_accepted">
                            <span class="fa fa-thumbs-up success"></span> &nbsp;Candidat recommandé<br />
                        </span>
                        <strong>{{ item.business.title }}</strong><br />
                        <span *ngIf="item.business.place">
                            {{ item.business.place.city }}
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 trash-container"
                 (click)="deleteItem(item.id)"
                 tooltipPlacement="top" tooltip="Cliquez pour supprimer cette expérience">
                <h1>
                    <i class="fa fa-trash"></i>
                </h1>
            </div>
        </li>
    </ul>
</div>

<div class="col-md-12 add-item-container centered"
     routerLink="/profil/experience/creer">
    <button class="btn btn-primary full-width">
        <span class="fa fa-plus"></span> &nbsp; Ajouter une nouvelle expérience
    </button>
</div>