<div class="header-wrapper"
    [class.transparent]="isHomePage">
    <div class="col-md-3 col-sm-3 col-xs-10">
        <a routerLink="/">
            <div class="logo"></div>
        </a>
    </div>
    <div class="col-xs-2 hidden-md hidden-sm hidden-lg mobile-menu-toggle"
         (click)="isMobileMenuShown=!isMobileMenuShown">
        <i class="icon-user"></i>
    </div>
    <div class="col-md-9 col-sm-9">
        <ul>
            <sign-in (userSignedIn)="handleUserSignedIn($event)"
                     (userSignedOut)="handleUserSignedOut($event)"
                     [isMobile]="false"
                     [user]="user">

            </sign-in>

            <span class="hidden-xs">
                <!-- User is not connected -->
                <li *ngIf="!user"
                    class="recruiter_btn">
                    <a routerLink="/accueil-recruteur">
                        Recruteur
                    </a>
                </li>


                <li *ngIf="!user">
                    <a routerLink="/accueil-candidat">
                        Candidat
                    </a>
                </li>

                <li *ngIf="user && user.is_active">
                    <!-- If user is an admin, create a link to website editor -->
                    <a *ngIf="user.user_type_id == 1"
                       routerLink="/profil/packs">
                        Administration
                    </a>
                    <!-- If user is a recruiter, create a link to his job posts -->
                    <a *ngIf="user.user_type_id == 2"
                       routerLink="/profil/annonces">
                        Espace recruteur
                    </a>
                    <!-- If user is a club, create a link to his job posts -->
                    <a *ngIf="user.user_type_id == 4"
                       routerLink="/profil/annonces">
                        Espace club
                    </a>
                    <!-- If user is a group, create a link to his job posts -->
                    <a *ngIf="user.user_type_id == 5"
                       routerLink="/profil/annonces">
                        Espace groupe
                    </a>
                    <!-- If user is a candidate, create a link to his profile preview -->
                    <a *ngIf="user.user_type_id == 3"
                       routerLink="/profil/apercu">
                        Mon compte
                    </a>
                </li>
            </span>
        </ul>
    </div>
</div>

<div class="mobile-menu-overlay"
     (click)="isMobileMenuShown = false"
     [class.hidden]="!isMobileMenuShown"></div>

<div class="mobile-menu"
     (click)="isMobileMenuShown = false"
     [class.shown]="isMobileMenuShown">
    <ul>
        <li *ngIf="user && user.is_active" (click)="isMobileMenuShown = false">
            <!-- If user is an admin, create a link to website editor -->
            <a *ngIf="user.user_type_id == 1"
               routerLink="/profil/website-editor">
                Administration
            </a>
            <!-- If user is a recruiter, create a link to his job posts -->
            <a *ngIf="user.user_type_id == 2"
               routerLink="/profil/annonces">
                Espace recruteur
            </a>
            <!-- If user is a candidate, create a link to his profile preview -->
            <a *ngIf="user.user_type_id == 3"
               routerLink="/profil/apercu">
                Mon compte
            </a>
        </li>
        <sign-in (userSignedIn)="handleUserSignedIn($event)"
                 (userSignedOut)="handleUserSignedOut($event)"
                 [isMobile]="true"
                 [user]="user">

        </sign-in>
    </ul>
</div>

<profile-sub-header (window:scroll)="onPageScroll($event)"
                    [class.fixed]="scrollTop > 100"
                    *ngIf="user && !isHomePage">

</profile-sub-header>