<div class="heading"
     id="home-heading"
     (window:resize)="fitMainDivToWindow()">
    <h1 id="home-heading-title">Le réveil de l’emploi en hôtellerie restauration</h1>
    <h2>{{ jobs.length }} offres de moins de 30 jours</h2>
    <div class="job-search row">
        <job-search-bar></job-search-bar>
    </div>
</div>

<div class="col-md-4 google-maps-container">
    <div id="google-map">

    </div>
</div>
<div class="col-md-8 no-padding">
    <job-preview *ngFor="let job of jobsPreviewList"
                 [job]="job">
    </job-preview>
</div>

<div class="col-md-12 counters">
    <div class="col-md-4">
        <h1>{{ candidatesCount }}</h1><br />
        candidats
    </div>
    <div class="col-md-4">
        <h1>{{ jobs.length }}</h1><br />
        offres
    </div>
    <div class="col-md-4">
        <h1>{{ businessesCount.length }}</h1><br />
        établissements
    </div>
</div>

<div class="partners-container centered">
    <h2>Ils nous font confiance</h2>
    <div class="partners row">
        <div class="col-md-2">
            <img src="/img/partners/barriere.png" class="full-width"/>
        </div>
        <div class="col-md-2">
            <img src="/img/partners/golden_tulip.png" class="full-width"/>
        </div>
        <div class="col-md-2">
            <img src="/img/partners/novotel.png" style="width: 60%; margin-top: 10px;" class="full-width"/>
        </div>
        <div class="col-md-2">
            <img src="/img/partners/pataterie.png" class="full-width"/>
        </div>
        <div class="col-md-2">
            <img src="/img/partners/radisson.png" class="full-width"/>
        </div>
        <div class="col-md-2">
            <img src="/img/partners/westotel.png" class="full-width"/>
        </div>
        <br />
    </div>
</div>