<div class="row sidebar-container" [class.shown]="!mobileMenuHidden">
    <!--<div class="col-md-12 location-input-container"
         [class.visible]="isMobileSearchVisible">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="ton-li-map-pin-4"></i>
            </span>
            <input type="text"
                   class="form-control"
                   placeholder="Localisation"
                   [(ngModel)]="locationName"
                   ngControl="locationName"
                   name="location_name"
                   (setAddress)="parseAdress($event)"
                   googleplace/>
        </div>
        <br />
    </div>-->

    <div class="col-md-12 search-summary"
         *ngIf="parametersCount(jobNamingList) > 0"
         [class.mobile-menu-open]="isMobileSearchVisible">
        <div class="row">
            <div class="col-md-12 col-sm-10 col-xs-10">
                Vous recherchez un poste

                <span *ngIf="jobNamingList.length > 0">
                    de
                    <span *ngFor="let jobNaming of jobNamingList; let i = index">
                        <span class="job-badge badge"
                              *ngIf="jobNaming">
                            {{ jobNaming }} <span class="fa fa-times remove" (click)="updateSearchParameter('jobNaming', i, jobNaming)"></span>
                        </span>
                        <span *ngIf="parametersCount(jobNamingList) > 1
                                && jobNaming
                                && jobNamingList.indexOf(jobNaming) != jobNamingList.length - 1">
                            ou
                        </span>
                    </span>
                </span>

                <span *ngIf="xpLevelList.length > 0">
                    <span *ngFor="let xpLevel of xpLevelList; let i = index">
                        <span class="study-level-badge badge"
                              *ngIf="xpLevel">
                            {{ xpLevel }} <span class="fa fa-times remove" (click)="updateSearchParameter('xpLevel', i, xpLevel)"></span>
                        </span>
                        <span *ngIf="parametersCount(xpLevelList) > 1
                                && xpLevel
                                && xpLevelList.indexOf(xpLevel) != xpLevelList.length - 1">
                            ou
                        </span>
                    </span>
                    <span *ngIf="parametersCount(xpLevelList) > 1">
                        ou
                    </span>
                </span>

                <span *ngIf="contractTypeList.length > 0">
                    en
                    <span *ngFor="let contractType of contractTypeList; let i = index">
                        <span class="contract-type-badge badge"
                              *ngIf="contractType">
                            {{ contractType }} <span class="fa fa-times remove" (click)="updateSearchParameter('contractType', i, contractType)"></span>
                        </span>
                        <span *ngIf="parametersCount(contractTypeList) > 1
                                && contractType
                                && contractTypeList.indexOf(contractType) != contractTypeList.length - 1">
                            ou
                        </span>
                    </span>
                </span>

                <span *ngIf="place">
                    à
                    <span class="location-badge badge">{{ place.formatted_address }} </span>
                </span>
            </div>
            <div class="hidden-md hidden-lg col-sm-2 col-xs-2 mobile-search-toggle"
                 (click)="isMobileSearchVisible = !isMobileSearchVisible">
                <i [class.icon-magnifier]="!isMobileSearchVisible"
                   [class.icon-close]="isMobileSearchVisible">

                </i>
            </div>
        </div>
    </div>

    <div class="col-md-12 google-maps-container">
        <div id="google-map" (click)="mapClicked()">

        </div>
    </div>

    <div class="col-md-12 params-container"
         [class.visible]="isMobileSearchVisible">
        <h3 (click)="isJobNamingCollapsed = !isJobNamingCollapsed">
            Type de poste
            <span class="badge" [class.inactive]="parametersCount(jobNamingList) == 0">
                {{ parametersCount(jobNamingList) }}
            </span> &nbsp;
        </h3>
        <br />
        <div [collapse]="isJobNamingCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let jobNaming of jobNamings">
                    <li (click)="updateSearchParameter('jobNaming', jobNaming.id, jobNaming.title)"
                        [class.active]="jobNamingList[jobNaming.id]"
                        *ngIf="jobsCountFromParameterValue('job_naming_id', jobNaming.id) > 0
                                || jobNamingList[jobNaming.id]">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="jobNamingList[jobNaming.id]"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ jobNaming.title }} ({{ jobsCountFromParameterValue('job_naming_id', jobNaming.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <h3 (click)="isxpLevelCollapsed = !isxpLevelCollapsed">
             Niveau d'expérience
            <span class="badge" [class.inactive]="parametersCount(xpLevelList) == 0">
                {{ parametersCount(xpLevelList) }}
            </span> &nbsp;
        </h3>
        <div [collapse]="isxpLevelCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let xpLevel of xpLevels">
                    <li (click)="updateSearchParameter('xpLevel', xpLevel.id, xpLevel.title)"
                        [class.active]="xpLevelList[xpLevel.id]"
                        *ngIf="jobsCountFromParameterValue('xp_level_id', xpLevelList.id) > 0">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="xpLevelList[xpLevel.id]"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ xpLevel.title }}
                                ({{ jobsCountFromParameterValue('job_xp_level_id', xpLevel.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <br />
        <h3 (click)="isContractTypeCollapsed = !isContractTypeCollapsed">
            Type de contrat
            <span class="badge" [class.inactive]="parametersCount(contractTypeList) == 0">
                {{ parametersCount(contractTypeList) }}
            </span> &nbsp;
        </h3>
        <div [collapse]="isContractTypeCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let contractType of contractTypes">
                    <li (click)="updateSearchParameter('contractType', contractType.id, contractType.title)"
                        *ngIf="jobsCountFromParameterValue('contract_type_id', contractType.id) > 0"
                        [class.active]="contractTypeList[contractType.id]">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="contractTypeList[contractType.id]"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ contractType.title }}
                                ({{ jobsCountFromParameterValue('contract_type_id', contractType.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>