<div *ngIf="job">
    <div class="logo col-md-12">
        <div class="col-md-2">
            <img src="{{ job.business.logo }}" *ngIf="job.business.logo"/>
        </div>
        <div class="col-md-7">
            <div class="business">
                <div class="name">
                    <a routerLink="/etablissement/{{ job.business.id }}">
                        <h3>{{ job.business.title }}</h3>
                    </a>
                </div>
                <h1>{{ job.title }}</h1>
                <div class="adress">
                    <a routerLink="/recherche/{{ job.business.place.googlePlaceId }}/0/0/0">
                        <i class="fa fa-map-marker"></i> &nbsp; {{ job.business.place.postalCode }} - {{ job.business.place.city }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 job-stats"
             *ngIf="user && user.user_type_id == 2 && job.user_id == user.id">
            <button class="btn btn-danger" (click)="deactivateJobPost()">
                Offre pourvue ?
            </button>
            <br />
            <br />
            <span *ngIf="job.print_count">
                <b><i class="icon-eyeglasses"></i> &nbsp; {{ job.print_count }} vues</b><br />
            </span>
            <span *ngIf="job.click_count">
                <b><i class="icon-cursor"></i> &nbsp; {{ job.click_count }} clics</b><br />
            </span>
            <br />
        </div>
        <!--<button class="btn btn-default social-btn">
            <span class="fa fa-facebook"></span>
        </button>
        <button class="btn btn-default social-btn">
            <span class="fa fa-twitter"></span>
        </button>
        <button class="btn btn-default social-btn">
            <span class="fa fa-envelope"></span>
        </button> -->
        <div class="col-md-3 other-job-posts">
            <button class="btn btn-primary full-width"
                    *ngIf="!user || user.user_type_id == 3"
                    routerLink="/etablissement/{{ job.business.id }}">
                Nos autres offres
            </button>
            <br />
            <br />
            <a href="javascript: history.go(-1)">
            <button class="btn btn-default full-width">
                < Retour aux offres
            </button>
            </a>
        </div>
    </div>

    <div class="col-md-12 job-infos-list">
        <div class="col-md-6 job-info created_at">
            <i class="ton-li-calendar-1"></i> &nbsp; Publiée le <label>{{ job.created_at }}</label>
        </div>
        <div class="col-md-6 job-info contract_type">
            <i class="ton-li-file-2"></i> &nbsp; <label>{{ job.contract_type.title }}</label>
        </div>
        <div class="col-md-6 job-info xp_level">
            <i class="ton-li-people-6"></i> &nbsp; <label>{{ job.job_xp_level.title }}</label>
        </div>
        <div class="col-md-6 job-info hosting">
            <i class="ton-li-home"></i> &nbsp;Logé :
            <span *ngIf="job.is_hosting_employee"><label>Oui</label></span>
            <span *ngIf="!job.is_hosting_employee"><label>Non</label></span>
        </div>
        <div class="col-md-6 job-info start_date">
            <i class="ton-li-clock-1"></i> &nbsp;Début :
            <span *ngIf="job.is_urgent">
                Dés que possible
            </span>
            <span *ngIf="job.start_date && job.start_date != '0000-00-00 00:00:00' && job.start_date != '-0001-11-30'">
                <label>{{ job.start_date | date:"dd/MM/yy" }}</label>
            </span>
        </div>
        <div class="col-md-6 job-info end_date" *ngIf="job.end_date && job.end_date != '-0001-11-30'">
            <i class="ton-li-clock-2"></i> &nbsp;Fin : <label>{{ job.end_date | date:"dd/MM/yy" }}</label>
        </div>
        <!--<div class="col-md-6 job-info languages" *ngIf="job.languages">
            <i class="ton-li-speech-buble-4"></i>
            <span *ngFor="let language of job.languages; let i = index">
                <label>{{ language.title }}<span *ngIf="i < job.languages.length">,</span></label>
            </span>
        </div>-->
        <div class="col-md-6 job-info education" *ngIf="job.study_level">
            <i class="ton-li-id"></i> &nbsp;<label>{{ job.study_level.title }}</label>
        </div>
    </div>

    <h2 class="description-heading col-md-12" *ngIf="job.description">Description</h2>
    <div class="col-md-12 job-description" *ngIf="job.description" [innerHTML]="job.description">

    </div>

    <div class="col-md-10 col-md-offset-1" *ngIf="!user">
        <a routerLink="/inscription-candidat">
            <button class="btn btn-primary sign-up-btn">
                Postuler
            </button>
        </a>
    </div>

    <new-application-form *ngIf="user && user.user_type_id == 3"></new-application-form>

    <applicants *ngIf="job.applications > 0 && user && user.user_type_id == 2 && job.user_id == user.id"></applicants>
</div>