<div class="col-md-12">
    <h2>Vous avez {{ items.length }} annonce(s) au total</h2>
    <br />
</div>

<div class="col-md-12 no-padding">
    <div class="col-md-12 header-container">
        <div class="filter"
             [class.active]="postStatus == 'is_accepted'"
             (click)="postStatus = 'is_accepted'">
            <label>
                En ligne ({{ getJobPostsCount('is_accepted') }})
            </label>
        </div>
        <div class="filter"
             [class.active]="postStatus == 'is_reviewing'"
             (click)="postStatus = 'is_reviewing'">
            <label class="success">
                En validation ({{ getJobPostsCount('is_reviewing') }})
            </label>
        </div>
        <div class="filter"
             [class.active]="postStatus == 'is_expired'"
             (click)="postStatus = 'is_expired'">
            <label class="info">
                Expirées ({{ getJobPostsCount('is_expired') }})
            </label>
        </div>
        <div class="filter"
             [class.active]="postStatus == 'is_rejected'"
             (click)="postStatus = 'is_rejected'">
            <label class="danger">
                Rejetées ({{ getJobPostsCount('is_rejected') }})
            </label>
        </div>
    </div>

    <!--<select class="form-control"
            name="postStatus"
            [(ngModel)]="postStatus"
            ngControl="postStatus">
        <option value="null" selected disabled>-- Status --</option>
        <option value="is_accepted">En ligne</option>
        <option value="is_rejected">Rejeté</option>
        <option value="is_reviewing">En validation</option>
    </select>-->
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 *ngIf="item[postStatus] == true
                        || (item['dayDiff'] > 30 && postStatus == 'is_expired')
                        || (postStatus == 'is_reviewing' && !item.is_accepted && !item.is_rejected)
                        || postStatus == null"
                 [class.logo]="item.business.logo">
                <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.business.logo">
                    <img src="{{ item.business.logo }}"
                         class="full-width"/>
                </div>
                <div [class.col-md-5]="item.business.logo"
                     [class.col-md-7]="!item.business.logo"
                     [class.col-sm-5]="item.business.logo"
                     [class.col-sm-7]="!item.business.logo"
                     class="col-xs-8">
                    <h3 routerLink="/profil/annonce/editer/{{ item.id }}">
                        {{ item.job_naming.title.substr(0, 33) }}<span *ngIf="item.job_naming.title.length > 33">...</span>
                    </h3>
                    {{ item.contract_type.title }} - {{ item.week_work_hours }}h<br />
                    <strong>{{ item.business.title }}</strong><br />
                    <span *ngIf="!item.on_top_of_listing">Publiée</span>
                    <span *ngIf="item.on_top_of_listing">Remontée</span>
                    le {{ item.created_at | date:"dd/MM/yyyy" }}<br />

                    <button class="btn btn-primary"
                            (click)="pullUpJobPost()"
                            [disabled]="!userCanPullUpJobPost"
                            *ngIf="item.is_active && item.is_accepted">
                        Remonter l'offre
                    </button>
                    <!--<span *ngIf="item.is_accepted" class="alert-success">En ligne</span>
                    <span *ngIf="!item.is_accepted && !item.is_rejected" class="alert-warning">En validation</span>
                    <span *ngIf="item.is_rejected" class="alert-danger">Rejetée</span>
                    <span *ngIf="!item.is_active" class="alert-danger">Désactivée</span>-->
                    <!-- <span class="date">
                        {{ item.start_date }} &nbsp;
                        <span class="fa fa-arrow-right"></span> &nbsp;
                        {{ item.end_date }}
                    </span> -->
                </div>
                <div class="col-md-3 col-sm-3 hidden-xs job-stats">
                    <b class="ref">REF{{ item.id }}</b><br />
                    <span  *ngIf="item.is_active && item.is_accepted">
                        <a routerLink="/profil/profils-correspondants/{{ item.id }}">Profils correspondants</a><br />
                        <a routerLink="/profil/postulants/{{ item.id }}" *ngIf="item.applications.length > 0" class="bold">{{ item.applications.length }} postulants</a><br />
                        {{ item.print_count }} vues - {{ item.click_count }} clics<br />
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 centered hidden-xs"  *ngIf="item.is_rejected">
                    <div class="alert alert-danger">
                        Rejetée par l'équipe Cookorico
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 centered hidden-xs"  *ngIf="!item.is_rejected">
                    <a routerLink="/recherche/annonce/{{ item.id }}">
                        <button class="full-width">
                            Voir l'offre
                        </button>
                    </a>
                    <a routerLink="/profil/annonce/editer/{{ item.id }}">
                        <button class="full-width">
                            Modifier l'offre
                        </button>
                    </a><br />
                    <a (click)="deactivateJobPost(item.id)"
                       *ngIf="item.is_accepted && item.is_active">
                        <button class="btn btn-danger full-width">
                            Offre pourvue
                        </button>
                    </a>
                </div>
            </div>
        </li>
        <li *ngFor="let i of jobPlacementsLeftNum" class="free-job-placement">
            <div class="col-md-9">
                <h3>Emplacement disponible</h3>
                <a (click)="createJobPost()">Publier ici</a>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary create-job-post full-width"
                        (click)="createJobPost()">
                    Créer une offre
                </button>
            </div>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <br />
    <div class="col-md-12 centered">
        <div class="about-us">
            <h3>Besoin d'emplacements supplémentaires ?</h3>
            <br />
            <button class="btn btn-default">
                <span class="fa fa-envelope"></span> &nbsp; Contactez-nous
            </button>
            <button class="btn btn-default"
                    routerLink="/profil/mon_abonnement">
                <span class="fa fa-list"></span> &nbsp; Votre abonnement
            </button>
        </div>
    </div>
</div>
