<div *ngIf="!onlyServices">
    <!-- CURRENT PLAN DATA -->
    <span *ngIf="plans.length > 0">
        <h2>Votre formule recruteur</h2>
        <hr />
    </span>
    <div *ngFor="let plan of plans"
         class="col-md-12 centered">
        <div class="col-md-12">
            <h3>Vous bénéficiez actuellement du {{ plan.pricing_plan.title }}</h3>
        </div>
        <div class="col-md-12" *ngIf="plan.credits != -1">
            <h3>Il vous reste actuellement {{ plan.credits }} crédits</h3>
        </div>
        <div class="col-md-12" *ngIf="plan.credits == -1">
            Votre offre est valable jusqu'au {{ plan.expire_date | date:"dd/MM/yy" }}
        </div>
        <div class="col-md-12">
            <h3>{{ plan.daily_remaining_contacts }} accès CVthèque disponibles</h3><br />
        </div>
        <div class="col-md-12">
            <!-- TODO: ré-activer la date de facturation -->
            <!-- Facture payée le {{ plan.created_at | date:"dd/MM/yyyy" }} -->
            <br /><br />
        </div>
    </div>
</div>

<h2>Trouvez le pack adapté à vos besoins</h2>
<hr />

<!-- SELLSY SERVICES
<h3 class="centered">Vous êtes restaurateur ?</h3>-->

<div class="plans-container">
    <div *ngFor="let service of services; let i = index"
         class="col-md-3 centered plan plan-{{ i }}">
        <h3>
            {{ service.tradename }}<br />
        </h3>
        <hr/>
        <p [innerHTML]="service.notes">

        </p>
        <hr/>
        <h2>
            {{ service.formatted_unitAmount }}
        </h2>
        <br />
        <button class="btn btn-primary full-width"
                (click)="payWithPaypal(service)"
                *ngIf="!onlyServices"
                id="pay-with-paypal-btn-{{ i }}">
            <span class="fa fa-paypal"></span> &nbsp; Souscrire
        </button>
        <button class="btn btn-primary full-width"
                (click)="focusOnSignUp()"
                *ngIf="onlyServices">
            Je m'inscris
        </button>
    </div>
</div>

<div class="col-md-12 centered"
     *ngIf="!isPricingTableDisplayed && !onlyServices">
    <button class="btn btn-primary"
            (click)="isPricingTableDisplayed = true">
        <span class="fa fa-plus"></span> &nbsp; En savoir plus
    </button>
</div>

<div *ngIf="!onlyServices">
    <!-- PRICING PLANS TABLE -->
    <div class="pricing-table pricing-table-table col-md-12"
         *ngIf="isPricingTableDisplayed">
        <div class="visible-xs-block">
            <div class="pricing-table-tabs btn-group" data-toggle="buttons">
                <label class="btn btn-accent">
                    <input type="radio" name="pricing-plan" value="1"> Pack 1 annonce
                </label>
                <label class="btn btn-accent active">
                    <input type="radio" name="pricing-plan" value="2" checked=""> Pack 5 annonces
                </label>
                <label class="btn btn-accent">
                    <input type="radio" name="pricing-plan" value="3"> Pack illimité
                </label>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>
                    <span class="hidden">Plan features</span>
                </th>
                <th id="ph-1">
                    <span class="heading pricing-title bold">Pack 1 annonce</span>
                    <span>1 annonce à l'unité</span>
                </th>
                <th id="ph-2" class="visible-cell">
                    <span class="heading pricing-title bold">Pack 5 annonces</span>
                    <span>5 annonces à l'unité</span>
                </th>
                <th id="ph-3">
                    <span class="heading pricing-title bold">Pack illimité</span>
                    <span>5 emplacements illimités à l'année</span>
                </th>
            </tr>
            </thead>
            <tbody class="pricing-details">
            <tr>
                <th id="pc-1">Annonces visibles</th>
                <td headers="ph-1 pc-1">30 jours</td>
                <td headers="ph-2 pc-1" class="visible-cell">30 jours</td>
                <td headers="ph-3 pc-1">30 jours</td>
            </tr>
            <tr>
                <th id="pc-2">Multidiffusion</th>
                <td headers="ph-1 pc-2"><span class="fa fa-check success"></span></td>
                <td headers="ph-2 pc-2" class="visible-cell"><span class="fa fa-check success"></span></td>
                <td headers="ph-3 pc-2"><span class="fa fa-check success"></span></td>
            </tr>
            <tr>
                <th id="pc-3">Statistiques</th>
                <td headers="ph-1 pc-3"><span class="fa fa-check success"></span></td>
                <td headers="ph-2 pc-3" class="visible-cell"><span class="fa fa-check success"></span></td>
                <td headers="ph-3 pc-3"><span class="fa fa-check success"></span></td>
            </tr>
            <tr>
                <th id="pc-4">Gestion des candidats</th>
                <td headers="ph-1 pc-3"><span class="fa fa-check success"></span></td>
                <td headers="ph-2 pc-3" class="visible-cell"><span class="fa fa-check success"></span></td>
                <td headers="ph-3 pc-3"><span class="fa fa-check success"></span></td>
            </tr>
            <tr>
                <th id="pc-5">Accès Cvthèque ciblée</th>
                <td headers="ph-1 pc-5">5 / jour</td>
                <td headers="ph-2 pc-5" class="visible-cell">20 / jour</td>
                <td headers="ph-3 pc-5">50 / jour</td>
            </tr>
            <tr>
                <th id="pc-6">Remonter votre annonce</th>
                <td headers="ph-1 pc-6"><span class="fa fa-times danger"></span></td>
                <td headers="ph-2 pc-6" class="visible-cell">1 fois</td>
                <td headers="ph-3 pc-6">Illimité</td>
            </tr>
            <tr>
                <th id="pc-7">Assistance téléphonique</th>
                <td headers="ph-1 pc-7"><span class="fa fa-times danger"></span></td>
                <td headers="ph-2 pc-7" class="visible-cell"><span class="fa fa-times danger"></span></td>
                <td headers="ph-3 pc-7"><span class="fa fa-check success"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 centered group-info">
        <hr />
        <h2>Vous êtes une agence d'intérim, un groupement d'hôtels ?</h2>
        <div class="about-us">
            <h2>Découvrez nos solutions, contactez-nous</h2>
            <button class="btn btn-default">
                <span class="fa fa-envelope"></span> &nbsp; Par mail
            </button>
            <button class="btn btn-default">
                <span class="fa fa-phone"></span> &nbsp; 02 97 21 89 23
            </button>
        </div>
    </div>
</div>