<!-- User is connected -->
<div class="user-infos row hidden-xs"
     [class.hidden]="isUserPartOfAGroup"
     *ngIf="user.user_type_id == 2">
    <div *ngFor="let plan of plans"
         class="col-md-12">
        <div class="plan"
             *ngIf="(plan.credits > 0 || plan.credits == -1) && user.user_type_id == 2">
            <div class="col-md-12 plan-credits" *ngIf="plan.credits > 0">
                {{ plan.credits }} crédits
            </div>
            <div class="col-md-12 plan-credits" *ngIf="plan.credits == -1">
                Pack illimité
            </div>
            <div class="col-md-12 plan-infos">
                {{ plan.daily_contacts }} contacts disponibles<br />
                <!-- TODO: ré-activer la date de facturation -->
                <!-- Payé le {{ plan.created_at | date:"dd/MM/yyyy" }} -->
            </div>
            <br />
        </div>
    </div>
    <div class="col-md-12">
        <button class="btn btn-primary full-width"
                routerLink="/profil/mon_abonnement">
            Gérer ma formule
        </button>
        <br />
        <br />
        <button class="btn btn-default full-width"
                (click)="openChangePasswordModal()">
            Modifier mot de passe
        </button>
    </div>
</div>

<div class="profile-sidebar-menu"
     [class.full-height]="isMobileMenuVisible">
    <div class="col-md-12 col-sm-10 col-xs-10">
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/espace-candidat"
           routerLinkActive="active"
           [class.visible]="isMobileMenuVisible">
            <i class="icon-home"></i> &nbsp; Espace emploi
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/apercu"
           routerLinkActive="active"
           [class.visible]="isMobileMenuVisible">
            <i class="icon-eye"></i> &nbsp; Aperçu du profil
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/experiences"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-badge"></i> &nbsp; Experiences
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/formations"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-graduation"></i> &nbsp; Formations
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/candidatures"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user-follow"></i> &nbsp; Candidatures
        </a>
        <!--<a *ngIf="user.user_type_id == 3"
           routerLink="/profil/alertes"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-bell"></i> &nbsp; Alertes
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/recommandations"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-like"></i> &nbsp; Recommandations
        </a>-->
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/annonces"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-list"></i> &nbsp; Annonces
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/annonces_admin"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-list"></i> &nbsp; Annonces
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/postulants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user-following"></i> &nbsp; Postulants
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/profils-correspondants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user"></i> &nbsp; Profils correspondants
        </a>
        <a *ngIf="user.user_type_id == 1 || user.user_type_id == 2"
           routerLink="/profil/etablissements"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-layers"></i> &nbsp; Établissements
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/recruteurs-admin"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-users"></i> &nbsp; Recruteurs
        </a>
        <!--<a *ngIf="user.user_type_id == 2"
           routerLink="/profil/demandes_de_recommandation"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-like"></i> &nbsp; Recommandations
        </a>-->
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/mail-templates"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-envelope-open"></i> &nbsp; Mails
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/website-editor"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-grid"></i> &nbsp; Éditeur
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/clubs"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-users"></i> &nbsp; Clubs
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/clubs/groupes"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-users"></i> &nbsp; Groupes
        </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 mobile-menu-toggle"
         (click)="isMobileMenuVisible = !isMobileMenuVisible">
        <i [class.icon-plus]="!isMobileMenuVisible"
           [class.icon-close]="isMobileMenuVisible"></i>
    </div>
</div>

<div bsModal
     #changePasswordModal="bs-modal"
     class="modal fade in"
     tabindex="-1"
     role="dialog"
     id="change-password-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body row">
                <div class="col-md-12">
                    <input type="password"
                           [(ngModel)]="oldPassword"
                           ngControl="oldPassword"
                           class="form-control"
                           placeholder="Ancien mot de passe">
                </div>
                <div class="col-md-12">
                    <br />
                    <input type="password"
                           [(ngModel)]="newPassword"
                           ngControl="newPassword"
                           class="form-control"
                           placeholder="Nouveau mot de passe">
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-default full-width"
                            id="close-change-password-modal"
                            (click)="hideChangePasswordModal()"
                            data-dismiss="modal">
                        Fermer
                    </button>
                </div>
                <div class="col-md-6">
                    <button type="button"
                            class="btn btn-primary full-width"
                            [disabled]="!oldPassword || !newPassword"
                            id="close-change-password-modal"
                            (click)="saveNewPassword()"
                            data-dismiss="modal">
                        Sauvegarder
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
