<profile-sidebar *ngIf="user && user.is_active"
                 [class.scrolled-down]="scrollTop > 100"></profile-sidebar>
<div class="router-outlet-container"
     (window:scroll)="onPageScroll($event)"
     [class.scrolled-down]="scrollTop > 100"
     [class.full-width]="!user || !user.is_active">
    <ol class="breadcrumb" [class.disabled]="user && !user.is_active">
        <li *ngFor="let routeSegment of routeSegments; let i = index">
            <a routerLink="{{ routeSegment.link }}" class="active"
               *ngIf="i < routeSegments.length - 1">
                {{ routeSegment.title.replace('_', ' ') }}
            </a>
                <span *ngIf="i == routeSegments.length - 1">
                    {{ routeSegment.title.replace('_', ' ') }}
                </span>
        </li>
    </ol>
    <router-outlet></router-outlet>
</div>