<!-- User is not connected -->
<a (click)="openSignInModal()"
   [class.hidden]="!isMobile"
    class="main-login-btn">
    <li *ngIf="!user">
        Se connecter
    </li>
</a>

<!-- User is connected -->
<a (click)="logout()">
    <li *ngIf="user">
        Déconnexion
    </li>
</a>

<div bsModal
     #signInModal="bs-modal"
     id="sign-in-modal"
     class="modal fade in"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form class="row"
                      method="post"
                      action="#"
                      *ngIf="!forgotPassword"
                      #loginForm="ngForm">
                    <div class="col-md-12">
                        <input type="email"
                               placeholder="Email"
                               class="form-control"
                               ngControl="email"
                               [(ngModel)]="email"
                               (keypress)="keyPressHandler($event.keyCode)"
                               required
                               name="email"/>
                    </div>
                    <div class="col-md-12">
                        <input type="password"
                               placeholder="Mot de passe"
                               class="form-control"
                               ngControl="password"
                               [(ngModel)]="password"
                               (keypress)="keyPressHandler($event.keyCode)"
                               required
                               name="password"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 remember-me">
                        <label>
                            <input type="checkbox"/> &nbsp; Se souvenir de moi
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 forgot-password">
                        <span (click)="forgotPassword=!forgotPassword">Mot de passe oublié ?</span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button (click)="hideSignInModal()"
                                class="close-sign-in-modal"
                                id="close-sign-in-modal"
                                *ngIf="!forgotPassword">
                            Fermer
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="fa fa-spin fa-spinner loading" *ngIf="loading"></span>
                        <input type="button"
                               class="btn btn-primary"
                               (click)="login()"
                               value="Se connecter" *ngIf="!loading"/>
                    </div>
                    <!--<a href="/api/public/auth/facebook">
                        <div class="col-md-12 facebook-login"
                             *ngIf="!forgotPassword">
                            <span class="fa fa-facebook"></span>  &nbsp; Facebook
                        </div>
                    </a>
                    <a href="/api/public/auth/linkedin">
                        <div class="col-md-12 linkedin-login"
                             *ngIf="!forgotPassword">
                            <span class="fa fa-linkedin"></span> &nbsp; Linkedin
                        </div>
                    </a>-->
                </form>
                <form action="#"
                      method="post"
                      *ngIf="forgotPassword"
                      (submit)="resetPassword()"
                      #forgotPwdForm="ngForm"
                      class="row">
                    <div class="col-md-12">
                        <input type="text"
                               [(ngModel)]="email"
                               ngControl="email"
                               name="email"
                               required
                               class="form-control"
                               placeholder="Email"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="button"
                               class="back-to-login"
                               (click)="forgotPassword=!forgotPassword"
                               *ngIf="forgotPassword"
                               value="Retour"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6"
                         *ngIf="!isPasswordReset && !loading">
                        <input type="button"
                               class="btn btn-primary"
                               (click)="resetPassword()"
                               value="Envoyer"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 email-sent">
                        <span class="fa fa-spin fa-spinner" *ngIf="loading"></span>
                        <span *ngIf="isPasswordReset && !loading">
                            <span class="fa fa-check" ></span> &nbsp;
                            Un mail vous a été envoyé
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- TODO : this is a workaround, we have to change it in near future -->
<div id="modal-backdrop-replacement"
     style="background: rgba(0,0,0,0.7);
             position: fixed;
             display: none;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             z-index: 10;">

</div>