<accordion [closeOthers]="true">
    <accordion-group heading="Bandeau promo page d'accueil">
        <unity-tinymce [mceContent]="'test'"
                       (newContentInput)="homeBannerHtmlChanged($event)">

        </unity-tinymce>
        <button class="btn btn-primary"
                (click)="saveHomeBannerHtml()">
            Sauvegarder
        </button>
    </accordion-group>
    <accordion-group heading="Partenaires page d'accueil">
        <business-select (businessIdChange)="handleBusinessIdListChange($event)">

        </business-select>
        <button class="btn btn-primary"
                (click)="saveHomePartners()">
            Sauvegarder
        </button>
    </accordion-group>
    <accordion-group heading="Traffic driven categories">
        <div class="row" *ngFor="let cat of trafficDrivenCats; let i = index">
            <div class="col-md-3">
                <label>Titre du lien</label>
                <input type="text"
                       name="cat_title"
                       ngControl="cat.title"
                       [(ngModel)]="cat.title"
                       placeholder="Titre du lien"
                       class="form-control"/>
            </div>
            <div class="col-md-3">
                <label>Emploi recherché</label>
                <select class="form-control"
                        name="job_naming_id"
                        ngControl="cat.jobNamingId"
                        [(ngModel)]="cat.jobNamingId">
                    <option selected disabled value="0">-- Emploi recherché --</option>
                    <option *ngFor="let jobNaming of jobNamings"
                            value="{{ jobNaming.id }}">
                        {{ jobNaming.title }}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Adresse (chemin)</label>
                <input type="text"
                       name="cat_path"
                       ngControl="cat.path"
                       [(ngModel)]="cat.path"
                       placeholder="Chemin"
                       class="form-control"/>
            </div>
            <div class="col-md-2">
                <label>Localisation</label>
                <input type="text"
                       placeholder="Localisation"
                       class="form-control"
                       *ngIf="cat.place"
                       ngControl="cat.place.formatted_address"
                       [(ngModel)]="cat.place.formatted_address"
                       (setAddress)="parseAddress($event, i)"
                       googleplace/>
            </div>
            <div class="col-md-1 delete-url"
                 (click)="removeTrafficDriventCat(i)">
                <i class="icon-close"></i>
            </div>
            <div class="col-md-12">
                <label>Description</label>
                <unity-tinymce [mceContent]="cat.description"
                               (newContentInput)="catDescriptionChanged($event, i)">

                </unity-tinymce>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <button class="btn btn-default"
                (click)="trafficDrivenCats.push({place: {}})">
            + Créer une URL
        </button>
        <button class="btn btn-primary"
                (click)="saveTrafficDrivenCategories()">
            Sauvegarder <i class="fa fa-spinner fa-spin" *ngIf="isLoading"></i>
        </button>
    </accordion-group>
</accordion>