<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/Profile/CreateAlert']">
            <span class="fa fa-plus"></span> &nbsp; Créer une alerte
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a *ngFor="let alert of alerts"
           [routerLink]="['/Profile/EditAlert', { alertId: alert.id }]">
            <li>
                <span *ngIf="alert.jobNaming.title">
                    <h3>{{ alert.jobNaming.title }}</h3>
                </span>
                <spanIf="alert.title">
                    {{ alert.title }} -
                </span>
                {{ alert.place }}

                <span class="date">
                    {{ alert.alertFrequency.title }}
                    <span class="fa fa-clock-o"></span>
                </span>
            </li>
        </a>
    </ul>
</div>