<div class="col-md-12 header-container">
    <div class="col-md-10 col-sm-10 col-xs-9 items-count">
        {{ applications.length }} candidature<span *ngIf="applications.length > 1">s</span>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3 actions-container">
        <button [routerLink]="['/ShowAllJobs']">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let application of applications">
             <div class="col-md-12 col-sm-12 col-xs-12 item"
                  [class.logo]="application.job.business.logoUrl">
                <a [routerLink]="['/ShowJob', { jobId: application.job.id }]">
                    <div class="item-desc">
                        <h3>{{ application.job.title }}</h3>
                        {{ application.job.business.title }}
                        <!--span class="date">
                            <span class="fa fa-calendar-o"></span> &nbsp;
                            {{ application.created_at }}
                        </span>-->
                    </div>
                    <div class="logo"
                         *ngIf="application.job.business.logoUrl">
                        <img src="/uploads/business/logo/{{ application.job.business.logoUrl }}"/>
                    </div>
                </a>
             </div>
        </li>
    </ul>
</div>