<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/ShowAllJobs']">
            <span class="fa fa-search"></span> &nbsp; Trouver une offre
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a *ngFor="let application of applications"
           [routerLink]="['/ShowJob', { jobId: application.job.id }]">
            <li>
                <h3>{{ application.job.title }}</h3>
                <span class="date">
                    <span class="fa fa-calendar-o"></span> &nbsp;
                    {{ application.created_at }}
                </span>
                <br />
            </li>
        </a>
    </ul>
</div>