<label>Établissement</label>
<div class="col-md-11 business-select-container">
    <select class="form-control"
            *ngIf="!isGooglePlaceInput">
        <option selected disabled>-- Établissement --</option>
        <option *ngFor="let business of businesses"
                [selected]="businessId==business.id">
            {{ business.title }}
        </option>
    </select>
    <input type="text"
           class="form-control"
           *ngIf="isGooglePlaceInput"
           (setAddress)="parseAdress($event)"
           googleplace/>
</div>
<div class="col-md-1 toggle-business-creation-container"
     (click)="isGooglePlaceInput=!isGooglePlaceInput">
    <span class="fa"
          [class.fa-list]="isGooglePlaceInput"
          [class.fa-plus]="!isGooglePlaceInput"></span>
</div>