<div class="col-md-12">
    <form>
        <div class="col-md-6">
            <label>Diplôme</label>
            <select name="job"
                    [(ngModel)]="diplomaId"
                    class="form-control">
                <option disabled selected>-- Diplôme --</option>
                <option *ngFor="let diploma of diplomas"
                        value="{{ diploma.id }}">
                    {{ diploma.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Établissement</label>
            <input type="text"
                   [(ngModel)]="businessId"
                   class="form-control"
                   placeholder="Établissement"/>
        </div>
        <div class="col-md-3">
            <label>Date de début</label>
            <input type="date"
                   [(ngModel)]="startDate"
                   class="form-control"
                   placeholder="Date de début"/>
        </div>
        <div class="col-md-3">
            <label>Date de fin</label>
            <input type="date"
                   class="form-control"
                   placeholder="Date de fin"/>
        </div>
        <div class="col-md-6">
            <label>Lieu</label>
            <input type="text"
                   [(ngModel)]="endDate"
                   class="form-control"
                   placeholder="Lieu"/>
        </div>
        <div class="col-md-12">
            <label>Description</label>
            <textarea name="description"
                      [(ngModel)]="description"
                      class="form-control"
                      placeholder="Description"></textarea>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary submit"
                    (click)="submitStudy()">
                Sauvegarder
            </button>
        </div>
    </form>
</div>