<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/Profile/CreateStudy']">
            <span class="fa fa-plus"></span> &nbsp; Ajouter une formation
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a *ngFor="let study of studies"
           [routerLink]="['/Profile/EditStudy', { studyId: study.id }]">
            <li>
                <div class="logo">
                    <img src="/uploads/business/logo/{{ study.business.logoUrl }}"/>
                </div>
                <h3>{{ study.diploma.title }}</h3>
                {{ study.business.title }}
                <span class="date">
                    {{ study.start_date }} &nbsp;
                    <span class="fa fa-arrow-right"></span> &nbsp;
                    {{ study.end_date }}
                </span>
                <br />
            </li>
        </a>
    </ul>
</div>