<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/Profile/CreateStudy']">
            <span class="fa fa-plus"></span> &nbsp; Ajouter une formation
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a>
            <li *ngFor="let study of studies">
                <h3>{{ study.diploma.title }}</h3>
                <span class="date">
                    {{ study.start_date }} &nbsp;
                    <span class="fa fa-arrow-right"></span> &nbsp;
                    {{ study.end_date }}
                </span>
                <br />
            </li>
        </a>
    </ul>
</div>