<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/Profile/CreateExperience']">
            <span class="fa fa-plus"></span> &nbsp; Ajouter une experience
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a>
            <li *ngFor="let experience of experiences">
                <h3>{{ experience.jobNaming.title }}</h3>
                 <span class="date">
                    {{ experience.start_date }} &nbsp;
                    <span class="fa fa-arrow-right"></span> &nbsp;
                    {{ experience.end_date }}
                </span>
                <br />
            </li>
        </a>
    </ul>
</div>