<div class="row">
    <div class="col-md-3">
        <a [routerLink]="['Home']">
            <div class="logo"></div>
        </a>
    </div>

    <div class="col-md-9 hidden-sm hidden-xs">
        <ul>
            <!-- User is connected -->
            <li *ngIf="!user" class="recruiter_btn">
                <a [routerLink]="['SignUp']">
                    Espace recruteur
                </a>
            </li>

            <sign-in></sign-in>

            <li *ngIf="!user">
                <a [routerLink]="['SignUp']">
                    S'inscrire
                </a>
            </li>

            <!-- User is not connected -->
            <li *ngIf="user">
                <a (click)="logout()">
                    Déconnexion
                </a>
            </li>
            <li *ngIf="user">
                <a [routerLink]="['Profile']">
                    Mon compte
                </a>
            </li>
        </ul>
    </div>
</div>

