<ul>
    <li *ngIf="!user">
        <a (click)="signInModal.show()">
            Connexion
        </a>
    </li>
    <li>
        <a [routerLink]="['SignUp']">
            S'inscrire
        </a>
    </li>

    <li *ngIf="user">
        <a (click)="logout()">
            Déconnexion
        </a>
    </li>
    <li *ngIf="user">
        <a [routerLink]="['Profile']">
            Mon compte
        </a>
    </li>

    <li>
        <a [routerLink]="['Home']">
            Accueil
        </a>
    </li>
</ul>

<div bsModal
     #signInModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form class="row"
                      method="post"
                      action="#"
                      #loginForm="ngForm">
                    <div class="col-md-12">
                        <input type="text"
                               class="form-control"
                               ngControl="email"
                               [(ngModel)]="email"
                               required
                               name="email"/>
                    </div>
                    <div class="col-md-12">
                        <input type="password"
                               class="form-control"
                               ngControl="password"
                               [(ngModel)]="password"
                               required
                               name="password"/>
                    </div>
                    <div class="col-md-12">
                        <input type="button"
                               class="form-control"
                               value="Connexion"
                               (click)="login()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>