<div class="heading"
     [ngStyle]="{'height': innerHeight}"
     (window:resize)="fitMainDivToWindow()">
    <h1 [ngStyle]="{'margin-top': innerHeight / 9}">Le premier réseau d'emploi dans l'Ouest sans intermediaires</h1>
    <h2>spécialisé pour l'emploi des cafés, hôtels, restaurants, spas & camping</h2>
    <div class="job-search row">
        <job-search-bar></job-search-bar>
    </div>
</div>

<h2>Offres d'emploi</h2>
<br /><br />

<job-preview *ngFor="let job of jobs"
             [job]="job">
</job-preview>

<br /><br />
<h2>Actualités</h2>
<br /><br />

<post-preview *ngFor="let post of posts"
             [post]="post">
</post-preview>

<br /><br />
<h2>Ils nous font confiance</h2>
<br /><br />

<ul>
    <a [routerLink]="['ShowClub', { clubId: club.id }]"
       *ngFor="let club of clubs">
        <li>
            <img src="/uploads/club/logo/{{ club.logoFile }}"/><br />
            {{ club.title }}
        </li>
    </a>
</ul>