<div class="heading"
     [ngStyle]="{'height': innerHeight}"
     (window:resize)="fitMainDivToWindow()">
    <h1 [ngStyle]="{'margin-top': innerHeight / 9}">Le premier réseau d'emploi dans l'Ouest sans intermediaires</h1>
    <h2>spécialisé pour l'emploi des cafés, hôtels, restaurants, spas & camping</h2>
    <div class="job-search row">
        <div class="col-md-3 input-container">
            <select class="form-control">
                <option disabled selected>Région</option>
            </select>
        </div>
        <div class="col-md-3 input-container">
            <select class="form-control">
                <option disabled selected>Type de poste</option>
                <option *ngFor="let jobNaming of jobNamings"
                        value="{{ jobNaming.id }}">
                    {{ jobNaming.title }}
                </option>
            </select>
        </div>
        <div class="col-md-3 input-container">
            <select class="form-control">
                <option disabled selected>Type de contrat</option>
                <option *ngFor="let contractType of contractTypes"
                        value="{{ contractType.id }}">
                    {{ contractType.title }}
                </option>
            </select>
        </div>
        <div class="col-md-3 input-container">
            <a [routerLink]="['SearchJobs',
                                { stateId: this.stateId,
                                  jobNamingId: this.jobNamingId,
                                  contractTypeId: this.contractTypeId,
                                  searchText: null,
                                }]">
                <button class="btn btn-primary find-btn">
                    Trouver un job &nbsp; <span class="fa fa-angle-right"></span>
                </button>
            </a>
        </div>
    </div>
</div>

Offres d'emploi
<br /><br />
<ul>
    <a [routerLink]="['ShowJob', { jobId: job.id }]"
       *ngFor="let job of jobs">
        <li>
            {{ job.title }}
        </li>
    </a>
</ul>

<br /><br />
Actualités
<br /><br />

<ul>
    <a [routerLink]="['ShowPost', { postId: post.id }]"
       *ngFor="let post of posts">
        <li>
            {{ post.title }}
        </li>
    </a>
</ul>

<br /><br />
Ils nous font confiance
<br /><br />

<ul>
    <a [routerLink]="['ShowClub', { clubId: club.id }]"
       *ngFor="let club of clubs">
        <li>
            <img src="/uploads/club/logo/{{ club.logoFile }}"/><br />
            {{ club.title }}
        </li>
    </a>
</ul>