Offres d'emploi
<br /><br />
<ul>
    <a [routerLink]="['ShowJob', { jobId: job.id }]"
       *ngFor="let job of jobs">
        <li>
            {{ job.title }}
        </li>
    </a>
</ul>

<br /><br />
Actualités
<br /><br />

<ul>
    <a [routerLink]="['ShowPost', { postId: post.id }]"
       *ngFor="let post of posts">
        <li>
            {{ post.title }}
        </li>
    </a>
</ul>

<br /><br />
Ils nous font confiance
<br /><br />

<ul>
    <a [routerLink]="['ShowClub', { clubId: club.id }]"
       *ngFor="let club of clubs">
        <li>
            <img src="/uploads/club/logo/{{ club.logoFile }}"/><br />
            {{ club.title }}
        </li>
    </a>
</ul>