<div class="col-md-3 input-container">
    <select class="form-control">
        <option disabled selected>-- Région --</option>
        <option *ngFor="let state of states"
                value="{{ state.id }}">
            {{ state.adress.replace(', France', '') }}
        </option>
    </select>
</div>
<div class="col-md-3 input-container">
    <select class="form-control">
        <option disabled selected>-- Type de poste --</option>
        <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                  label="{{ jobNamingGroup.title }}">
            <option *ngFor="let jobNaming of jobNamingGroup.jobNamings"
                    value="{{ jobNaming.id }}">
                {{ jobNaming.title }}
            </option>
        </optgroup>
    </select>
</div>
<div class="col-md-3 input-container">
    <select class="form-control">
        <option disabled selected>-- Type de contrat --</option>
        <option *ngFor="let contractType of contractTypes"
                value="{{ contractType.id }}">
            {{ contractType.title }}
        </option>
    </select>
</div>
<div class="col-md-3 input-container">
    <a [routerLink]="['SearchJobs',
                                { stateId: stateId,
                                  jobNamingId: jobNamingId,
                                  contractTypeId: contractTypeId,
                                  searchText: searchText
                                }]">
        <button class="btn btn-primary find-btn">
            Trouver un job &nbsp; <span class="fa fa-angle-right"></span>
        </button>
    </a>
</div>