<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div *ngIf="job">
            <div class="col-md-12 title">
                <h2>{{ job.title }}</h2>
            </div>
            <div class="col-md-12 business">
                <div class="name">{{ job.business.title }}</div>
                <div class="adress">{{ job.business.adress }}</div>
            </div>

            <div class="col-md-12 created_at">
                Publiée le {{ job.created_at }}
            </div>

            <div class="col-md-6">
                Contrat : {{ job.contractType.title }}
            </div>
            <div class="col-md-6">
                Niveau d'expérience : {{ job.jobXpLevel.title }}
            </div>
            <div class="col-md-6">
                Logé :
                <span *ngIf="job.is_hosting_employee">Oui</span>
                <span *ngIf="!job.is_hosting_employee">Non</span>
            </div>
            <div class="col-md-6" *ngIf="job.end_date">
                Langues :
                <span *ngFor="let language of job.languages">
                    {{ language.title }},
                </span>
            </div>
            <div class="col-md-6">
                Début du contrat :
                <span *ngIf="job.is_urgent">
                    Dés que possible
                </span>
                <span *ngIf="job.start_date">
                    {{ job.start_date }}
                </span>
            </div>
            <div class="col-md-6" *ngIf="job.end_date">
                Fin du contrat : {{ job.end_date }}
            </div>
            <!--<div class="col-md-6">
                Offre : {{ job.type.title }}
            </div>
            <div class="col-md-6">
                Offre : {{ job.type.title }}
            </div>-->
            <div class="col-md-6">
                Niveau d'études : {{ job.studyLevel.title }}
            </div>
            <div class="col-md-12">
                {{ job.content }}
            </div>

            <div class="col-md-12"
                 *ngIf="user && user.user_type_id == 3">
                <a [routerLink]="['Apply', { jobId: jobId }]">
                    <button class="btn btn-primary">
                        Postuler à cette offre
                    </button>
                </a>
            </div>

            <div class="col-md-12"
                 *ngIf="!user">
                <a [routerLink]="['Apply', { jobId: jobId }]">
                    <button class="btn btn-primary">
                        Postuler à cette offre
                    </button>
                </a>
            </div>
            <br />
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>