<div class="col-md-3">

</div>
<div class="col-md-6 user-basic-infos">
    <span class="user-identity">
        {{ user.civility.title }} {{ user.firstName }} {{ user.lastName }}<br />
        <span *ngIf="user.phone">
            {{ user.phone }}<br />
        </span>
        {{ user.email }}<br />
        <span *ngIf="user.status">
            {{ user.status.title }}<br />
        </span>
        <span *ngIf="user.looking_for_job_naming">
            <b>Profil recherché :</b> {{ user.looking_for_job_naming.title }}<br />
        </span>
    </span>
</div>
<div class="col-md-3">

</div>

<div class="col-md-12">
    <h3>Ma présentation</h3>
    <div class="description"
         [innerHTML]="user.description">

    </div>
</div>

<div class="col-md-12">
    <h3>Expériences</h3>
    <div *ngFor="let experience of experiences">
        <a [routerLink]="['EditExperience', { experienceId: experience.id }]">
            {{ experience.job_naming.title }}
        </a>
    </div>
</div>

<div class="col-md-12">
    <h3>Formations</h3>
    <div *ngFor="let education of educations">
        <a [routerLink]="['EditStudy', { studyId: study.id }]">
            {{ education.business.title }}
        </a>
    </div>
</div>

<div class="col-md-12">
    <h3>Recommendations</h3>
    <div *ngFor="let testimonial of testimonials">
        {{ testimonial.business.title }}
    </div>
</div>