<div bsModal
     #profilePictureModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     id="profile-picture-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <fileDroppa [url]="'#'">

                </fileDroppa>
                <img-cropper #cropper [image]="profilePictureData" [settings]="cropperSettings">

                </img-cropper>
                <span class="cropping-result" *ngIf="profilePictureData.image" >
                    <img [src]="profilePictureData.image"
                         [width]="cropperSettings.croppedWidth"
                         [height]="cropperSettings.croppedHeight">
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-primary" (click)="uploadProfilePicture()">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <a (click)="profilePictureModal.show()">
        Modifier la photo
    </a>
</div>
<div class="col-md-6 user-basic-infos">
    <span class="user-identity">
        {{ user.civility.title }} {{ user.firstName }} {{ user.lastName }}<br />
        <span *ngIf="user.phone">
            {{ user.phone }}<br />
        </span>
        {{ user.email }}<br />
        <span *ngIf="user.status">
            {{ user.status.title }}<br />
        </span>
        <span *ngIf="user.looking_for_job_naming">
            <b>Profil recherché :</b> {{ user.looking_for_job_naming.title }}<br />
        </span>
    </span>
</div>
<div class="col-md-3">

</div>

<div class="col-md-12">
    <h3>Ma présentation</h3>
    <div class="description"
         [innerHTML]="user.description">

    </div>
</div>

<div class="col-md-12">
    <a [routerLink]="['/Profile/Experiences']">
        <h3>Expériences &nbsp;<span class="badge">{{ experiences.length }}</span></h3>
    </a>
    <ul>
        <li *ngFor="let experience of experiences">
            <a [routerLink]="['EditExperience', { experienceId: experience.id }]">
                {{ experience.job_naming.title }}<br />
                {{ experience.business.title }}
            </a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <a [routerLink]="['/Profile/Education']">
        <h3>Formations &nbsp;<span class="badge">{{ education.length }}</span></h3>
    </a>
    <ul>
        <li *ngFor="let study of education">
            <a [routerLink]="['EditStudy', { studyId: study.id }]">
                {{ study.diploma.title }}<br />
                {{ study.business.title }}
            </a>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <a [routerLink]="['/Profile/Testimonials']">
        <h3>Recommendations &nbsp;<span class="badge">{{ testimonials.length }}</span></h3>
    </a>
    <ul>
        <li *ngFor="let testimonial of testimonials">
            {{ testimonial.business.title }}
        </li>
    </ul>
</div>