<div class="row">
    <form #signUpForm="ngForm">
        <div class="col-md-12">
            <h2>S'inscrire</h2>
        </div>

        <div class="col-md-12">
            <label>Email</label>
            <input type="text"
                   class="form-control"
                   required
                   [(ngModel)]="email"
                   ngControl="email"
                   placeholder="E-mail"/>
        </div>
        <div class="col-md-12">
            <label>Mot de passe</label>
            <input type="password"
                   class="form-control"
                   required
                   [(ngModel)]="password"
                   ngControl="password"
                   placeholder="Mot de passe souhaité"/>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default"
                    [disabled]="!email || !password"
                    (click)="userTypeId = 2">
                Je suis recruteur
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary"
                    [disabled]="!email || !password"
                    (click)="userTypeId = 3">
                Je suis candidat
            </button>
        </div>

        <div *ngIf="userTypeId">
            <div class="col-md-6">
                <label>Civilité</label>
                <select class="form-control">
                    <option>-- Civilité --</option>
                    <option *ngFor="let civility of civilities"
                            value="{{ civility.id }}">
                        {{ civility.title }}
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Nom</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="name"
                       ngControl="name"
                       placeholder="Mot de passe souhaité"/>
            </div>
        </div>

        <div *ngIf="userTypeId == 3">

        </div>

        <div *ngIf="userTypeId == 2">

        </div>
    </form>
</div>
