<div class="col-md-12 header-container">
    <div class="col-md-12 create-btn-container">
        <button class="btn btn-primary"
                [routerLink]="['/ShowAllJobs']">
            <span class="fa fa-plus"></span> &nbsp; Demander une recommandation
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <a>
            <li *ngFor="let testimonial of testimonials">
                <div class="logo">
                    <img src="/uploads/business/logo/{{ testimonial.business.logoUrl }}"/>
                </div>
                <h3>{{ testimonial.jobNaming.title }}</h3>
                {{ testimonial.business.title }}
                <br />
            </li>
        </a>
    </ul>
</div>