<!-- User is connected -->
<div *ngIf="user" class="user-infos row">
    <div class="col-md-3 profile-picture">
        <div class="img"
             [ngStyle]="{'background-image': userProfilePicturePath}">
        </div>
    </div>
    <div class="col-md-9 user-title">
        {{ user.firstName }} {{ user.lastName }}<br />
    </div>
    <div *ngFor="let plan of plans"
         class="col-md-12">
        <div class="plan" *ngIf="plan.credits > 0">
            <div class="col-md-6 plan-credits">
                {{ plan.credits }}<br />
                crédits
            </div>
            <div class="col-md-6 plan-contacts">
                {{ plan.pricing_plan.daily_contacts }}<br />
                contacts
            </div>
        </div>
    </div>
    <div class="user-sidebar-menu">
        <div class="col-md-12 menu-item">
            <a [routerLink]="['ProfilePreview']">
                Mon profil
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Experiences']">
                Experiences
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Education']">
                Formations
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Applications']">
                Candidatures
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Alerts']">
                Alertes
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Testimonials']">
                Recommandations
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Businesses']">
                Établissements
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/JobPosts']">
                Annonces
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a [routerLink]="['/Profile/Applicants']">
                Postulants
            </a>
        </div>
        <div class="col-md-12 menu-item">
            <a href="#">
                Profils correspondants
            </a>
        </div>
    </div>
</div>