alerts {
  display: block;
}

alerts .create-btn-container {
  border-bottom: 1px solid #CCC;
  height: 70px;
}

alerts ul li .frequency {
  float: right;
  color: #a9a9a9;
  font-family: $mainMediumFontFamily;
  text-transform: uppercase;
  font-size: 0.9em;
}

alerts .create-btn-container {
  text-align: center;
  padding: 0;
}

alerts .create-btn-container button {
  border: 0;
  width: 100%;
  height: 69px;
  border-radius: 0;
}