alerts {
  display: block;
}

alerts .create-btn-container {
  border-left: 1px solid #CCC;
}

alerts .title-container, alerts .create-btn-container {
  border-bottom: 1px solid #CCC;
  height: 70px;
}

alerts ul li .frequency {
  float: right;
  color: #a9a9a9;
  font-family: $mainMediumFontFamily;
  text-transform: uppercase;
  font-size: 0.9em;
}