@import "variables";
@import "forms";
@import "buttons";
@import "header";
@import "home";
@import "job";
@import "new-application-form";
@import "search";
@import "post-preview";
@import "sign-in-modal";
@import "user-sidebar";
@import "applications";
@import "job-search-sidebar";
@import "job-preview";
@import "job-search-results";
@import "profile";

body {
  background-color: $mainBgColor;
  font-family: $mainFontFamily;
  color: $mainDarkTextColor;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $mainMediumFontFamily;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-family: $mainBoldFontFamily;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.modal-backdrop {
  z-index: 9;
}