button, input[type=button] {
  height: $mainButtonHeight;
  font-family: $mainBoldFontFamily;

  i {
    font-size: 1.4em;
    position: absolute;
    margin-left: -20px;
  }

  &.btn-default {
    border-color: #333;
  }

  &.btn-primary {
    border-radius: $mainBorderRadius;
    background-color: $oechrBlueColor;
    color: white;
    border: none;
  }
}

