button {
  height: $mainButtonHeight;
}

.btn-primary, input[type=button] {
  font-family: $mainBoldFontFamily;
  border-radius: $mainBorderRadius;
  background-color: $oechrBlueColor;
  color: white;
  border: none;
}