candidate-dashboard {
  .profile-stats {
    background-color: $mainBgColor;
    border-radius: $mainBorderRadius;
    padding: 25px;
    margin-top: 20px;
  }

  input, select {
    margin-bottom: 15px;
  }

  .current-status {
    background-color: #f7f7f8;
    padding: 20px;
  }

  .infos-container {
    margin: 0;
  }
}