create-business {
  .logo {
    height: 90px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    img {
      width: 100%;
      padding-top: 20px;
    }
  }
}