footer {
  display: inline-block;
  width: 100%;
  padding: 40px 0;
  background-image: url('/img/footer_bg.jpg');
  background-size: cover;
  background-position: center center;

  .row {
    color: white;
    width: 990px;
    margin: auto;

    .logo {
      background-image: url("/img/oechr_logo.png");
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      width: 190px;
      height: 67px;
      margin: 15px 25px;
    }

    a {
      color: white;
    }

    i {
      font-size: 2em;
      margin: 0 10px 0 0;
    }
  }
}