.form-control {
  height: 50px;
  box-shadow: none;
  -webkit-appearance:none;
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.input-group-addon:first-child {
  background: white;
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

.input-group input {
  border-left: 0;
  color: #9c9c9c;
}

select[required], input[required] {
  border-left: 3px solid $mainBlueColor;
}

select[required].ng-invalid, input[required].ng-invalid {
  border-left: 3px solid $mainInvalidColor;
}

label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}

md-checkbox {
  &.dark-bg {
    .md-checkbox-frame {
      border-color: white;
    }
  }

  &.md-checkbox-checked {
    .md-checkbox-background {
      background-color: $oechrBlueColor;
    }
  }

  &.md-checkbox-focused {
    .md-ink-ripple {
      background-color: rgba($oechrBlueColor, 0.25)
    }
  }

  .md-checkbox-frame {
    border: 2px solid rgba(0, 0, 0, 0.36);
  }
}
