.form-control {
  height: 40px;
}

.input-group-addon:first-child {
  background: white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-group input {
  border-left: 0;
  color: #9c9c9c;
}

select[required], input[required] {
  border-left: 5px solid $mainBlueColor;
}

select[required].ng-invalid, input[required].ng-invalid {
  border-left: 5px solid $mainInvalidColor;
}

label {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
}