header {
  width: 100%;
  background-color: white;

  .mobile-menu {
    position: fixed;
    background: $oechrBlueColor;
    z-index: 100;
    top: 70px;
    width: 100%;

    li {
      width: 100%;
    }
  }

  .header-wrapper {
    position: absolute;
    width: 100%;
    z-index: 10;
    height: $headerHeight;
    background-color: #003c50;

    /* Transparent header on home page */
    &.transparent {
      background: none;
      color: white;

      a {
        color: white;
      }
    }
  }

  .logo {
    background-image: url("/img/oechr_logo.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 190px;
    height: 67px;
    margin: 15px 25px;
  }

  ul li {
    float: right;
    padding: 40px;

    a {
      color: white;
      letter-spacing: 1px;
      cursor: pointer;
      font-weight: 400;
    }

    .recruiter_btn a {
      border: 2px solid white;
      border-radius: $mainBorderRadius;
      padding: 10px 15px 10px 15px;
      font-weight: 600;
      background: white;
      color: $mainBlueColor;
    }
  }

  .mobile-menu-toggle {
    color: white;
    font-size: 2em;
    padding: 20px 25px;
    text-align: right;
  }
}

@media (max-width: $tabletWidth) {
  header {
    .header-wrapper {
      height: $headerHeight - 30;
      background: $oechrBlueColor;
    }

    .logo {
      width: 115px;
      height: 40px;
      margin: 15px 5px;
    }
  }
}