@import "variables";

header {
  width: 100%;
  padding: 15px;
  position: fixed;
  z-index: 10;
}

header .logo {
  background-image: url("/img/oechr_logo.png");
  background-size: 100%;
  background-position: center top;
  width: 250px;
  height: 60px;
}

header ul li {
  float: right;
  padding: 30px;
}

header ul li a {
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 400;
}

header ul li.recruiter_btn a {
  border: 2px solid white;
  border-radius: $mainBorderRadius;
  padding: 10px 15px 10px 15px;
  font-weight: 600;
}

header ul li.recruiter_btn a:hover {
  background: white;
  color: $mainDarkTextColor;
}

header ul li a:hover {
  color: white;
}

