home {
  width: 100%;
  display: block;

  .heading {
    color: white;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 100px;
    width: 100%;
    background-image: url('/img/home_bg.jpg');
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: $mobileWidth) {
  home {
    .heading {
      padding-top: 50px;

      h1 {
        margin: 0;
        font-size: 2em;
        letter-spacing: 1.3px;
        padding: 0 20px;
      }

      h2 {
        display: none;
      }

      .job-search {
        margin: 15px;
      }
    }
  }
}