job-search-bar {
  max-width: 650px;
  margin: auto;
  margin-top: 50px;
  padding: 0 10px;
  background: white;
  display: inline-block;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: 0px 0px 40px 0px #343434;
  -webkit-box-shadow: 0px 0px 40px 0px #343434;
  -o-box-shadow: 0px 0px 40px 0px #343434;
  box-shadow: 0px 0px 40px 0px #343434;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#343434, Direction=NaN, Strength=40);

  .input-container {
    float: left;

    select, input {
      border: none;
      border-radius: 0;
      height: 70px;
      color: $mainDarkTextColor;
      -webkit-appearance: none;
    }

    button {
      height: 60px;
      width: 100%;
    }
  }

  .find-btn {
    width: 100%;
    font-size: 18px;
  }

  .input-group-addon {
    border-bottom: none !important;
  }
}


@media (max-width: $mobileWidth) {
  job-search-bar {
    .input-container {
      &.btn {
        width: 100%;
      }
    }
  }
}