job-search-sidebar {
  width: 25%;
  float: left;

  .search-summary {
    font-size: 1.7em;
    margin-bottom: 35px;

    .badge {
      color: white;

      &.job-badge {
        background-color: $oechrBlueColor;
      }

      &.location-badge {
        background-color: #07ad70;
      }
    }
  }

  h3 {
    cursor: pointer;
    font-size: 1.15em;
    text-transform: uppercase;
    font-family: $mainBoldFontFamily;
    padding: 10px 7px;
    border-radius: 3px;
    background: $oechrBlueColor;
    color: white;
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .collapse {
    padding: 0;

  }

  label {
    font-weight: inherit;
  }

  ul  {
    padding-left: 0;

    li  {
      padding: 10px 10px 10px 10px;
      font-family: $mainMediumFontFamily;
      color: #6d6d6d;
      cursor: pointer;
      margin-bottom: 10px;
      border-radius: $mainBorderRadius;
      background: white;

      .group  {
        font-family: $mainBoldFontFamily;
      }

      .title-container {
        padding-left: 0;
        color: #333;
      }

      &.active {
        background-color: $oechrBlueColor;

        .title-container {
          color: white;
        }
      }

      &:hover {
        background-color: lighten($oechrBlueColor, 15%);
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  job-search-sidebar {
    width: 90%;
    margin-left: 5%;
    margin-top: 110px;
    margin-bottom: 15px;
  }
}