job-search-results {
  background: white;
  display: block;
  border-radius: $mainBorderRadius;

  .jobs-count {
    text-align: center;
    padding: 15px;
    margin: 0 15px;
    color: white;
    background-color: $oechrBlueColor;
  }

  h2 {
    padding-left: 20px;
  }
}