job-preview {
  display: inline-block;
  width: 100%;
  border-left: 4px solid transparent;
  padding: 25px;
  background: whitesmoke;
  transition-property: all;
  transition-duration: 250ms;

  .logo {
    position: relative;
    top: -5px;
  }

  .logo img {
    max-width: 80px;
    max-height: 80px;
    float: left;
    margin-right: 30px;
    width: 100%;
  }

  .basic-infos {
    float: left;

    .title {
      font-size: 1.2em;
      font-family: $mainBoldFontFamily;
      margin-bottom: 5px;
    }

    .business_name, .business_adress {
      color: $mainDarkTextColor;
    }
  }

  .additional_infos {
    .contract_type {
      font-family: $mainBoldFontFamily;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    .post_date {
      color: $mainDarkTextColor;
      padding-top: 10px;
    }
  }

  &:hover {
    background-color: #f0f0f0;
    border-color: $oechrBlueColor;
  }
}

job-preview:nth-child(odd) {
  background: white;

  &:hover {
    background-color: #f0f0f0;
  }
}


@media (max-width: $mobileWidth) {
  job-preview {
    padding: 20px 10px;

    .additional_infos {
      .contract_type {
        font-family: $mainBoldFontFamily;
        text-transform: uppercase;
        font-size: 1.2em;
      }
    }
  }
}