job-preview {
  display: block;
  border-bottom: 1px solid #DDD
}

job-preview .title h4 {
  margin-bottom: 5px;
}

job-preview .business_name {
  font-size: 1.2em;
  margin-bottom: 5px;
}

job-preview .business_adress {

}