job-search-sidebar {
  width: 20%;
  float: left;

  h3 {
    cursor: pointer;
    font-size: 1.15em;
    text-transform: uppercase;
    font-family: $mainMediumFontFamily;
  }

  .collapse {
    padding: 0;
  }

  label {
    font-weight: inherit;
  }

  ul  {
    padding-left: 0;

    li  {
      padding: 5px 10px 5px 0;
      font-family: $mainMediumFontFamily;
      color: #6d6d6d;
      cursor: pointer;
      margin-bottom: 10px;
      border-radius: $mainBorderRadius;

      &:hover {
        background: white;
      }

      .group  {
        font-family: $mainBoldFontFamily;
      }

      .title-container {
        padding-left: 0;
      }
    }
  }
}