job {
  display: inline-block;
  background: white;
  padding: $mainBlockPadding;

  h1 {
    text-transform: uppercase;
    font-family: $mainBoldFontFamily;
    color: $oechrBlueColor;
    margin: 10px 0 5px 0;
    font-size: 1.8em;
  }

  .job-stats {
    padding: 0 15px;

    .job-filled {
      color: $dangerColor;
    }
  }

  .other-job-posts {
    padding: 20px;
  }

  .description-heading {
    margin: 10px 70px;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
    width: 85%;
  }

  .job-description {
    padding: 10px 70px;
  }

  .job-infos-list {
    color: $mainDarkTextColor;
    background: $mainBgColor;
    padding: 30px 70px;

    .job-info {
      margin-bottom: 20px;
      height: 30px;

      i {
        font-size: 2em;
        color: $lightGrey;
        position: relative;
        top: 5px;
        width: 40px;
        display: inline-block;
      }
    }
  }

  .sign-up-btn {
    width: 100%;
  }

  .logo {
    float: left;
    margin: 20px 20px 20px 0;
    padding: 0 35px;

    img {
      width: 100%;
      max-height: 200px;
    }
  }

  .business {

    .name {

      h3 {
        font-size: 1.5em;
        margin: 10px 0 0 0;
      }
    }
  }
}