job {
  display: inline-block;
  background: white;
  padding: $mainBlockPadding;

  .social-btn {
    width: 40px;
    margin-right: 7px;
    float: left;
  }

  h1 {
    text-transform: uppercase;
    font-family: $mainBoldFontFamily;
    color: $oechrBlueColor;
    margin: 10px 0 5px 0;
    font-size: 1.8em;
  }

  .job-stats {
    padding: 0 15px;

    .job-filled {
      color: $dangerColor;
    }
  }

  .other-job-posts {
    padding: 20px;
  }

  .description-heading {
    margin: 10px 70px;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
    width: 85%;
  }

  .job-description {
    padding: 10px 70px;
  }

  .job-infos-list {
    color: $mainDarkTextColor;
    background: $mainBgColor;
    padding: 30px 70px;

    .job-info {
      margin-bottom: 10px;
      height: 30px;

      i {
        font-size: 1.7em;
        color: $lightGrey;
        position: relative;
        top: 5px;
        width: 30px;
        display: inline-block;
      }
    }
  }

  .sign-up-btn {
    width: 100%;
    margin: 35px 0;
  }

  .logo {
    float: left;
    margin: 20px 20px 0 0;
    padding: 0 35px;

    img {
      width: 100%;
      max-height: 200px;
    }
  }

  .business {
    .name, .adress {
      a {
        color: $mainDarkTextColor;
      }

      h3 {
        font-size: 1.5em;
        margin: 10px 0 0 0;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  job {
    padding: 0;

    .description-heading {
      margin: 10px;
    }

    .job-description {
      padding: 10px;
    }

    .logo {
      float: none;
      text-align: center;
      padding: 10px 65px;

      img {
        width: 60%;
      }
    }

    .job-infos-list {
      padding: 10px;

      .job-info {
        height: auto;
      }
    }
  }
}