job {
  display: block;
  background: white;
  padding-bottom: 20px;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: $mainBoxShadow;
  -webkit-box-shadow: $mainBoxShadow;
  -o-box-shadow: $mainBoxShadow;
  box-shadow: $mainBoxShadow;

  .job-title {
    text-align: center;
    margin-top: 20px;
  }

  .job-description {
    padding-top: 20px;
  }

  .job-info {
    margin-bottom: 20px;
    margin-top: 20px;
    border-left: 1px solid #CCC;
    margin-left: 15px;
    width: 45%;
  }

  .business {
    margin-top: 25px;
    margin-bottom: 25px;

    .logo {
      float: left;
      margin-right: 20px;

      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
}