matching-profiles {
  .show-profile {
    button {
      border-radius: $mainBorderRadius;
      background: $candidateColor;
      border: none;
      padding: 15px;
      margin-top: 25px;
      color: white;
      font-family: $mainMediumFontFamily;
    }
  }
}