my-job-posts {
  .job-stats, .job-applications {
    font-family: $mainMediumFontFamily;
    text-align: left;
    padding-left: 20px;
  }

  .job-stats {
    margin-top: 1%;
  }

  .job-applications {
    text-align: center;
    padding: 15px;
  }

  .matching-profiles {
    padding-top: 10px;
  }

  .job-applications {
    button {
      border: none;
      background-color: $candidateColor;
      border-radius: 4px;
      color: white;
      height: 50px;
      padding: 15px;
    }
  }

  .list-container {
    ul {
      li {
        &.free-job-placement {
          padding: 30px;
          margin: 15px;
          background: $mainBgColor;
          border-radius: $mainBorderRadius;
          border: 1px dashed #CCC;

          &:nth-child(odd) {
            background: $mainBgColor;
          }

          a {
            color: #35B6E1;
            text-decoration: underline;
          }

          .show-post {
            color: $oechrBlueColor;
            text-decoration: underline;
          }

          .job-filled {
            color: $dangerColor;
          }
        }
      }
    }
  }
}