my-job-posts {
  .job-stats, .job-applications {
    font-family: $mainMediumFontFamily;
    text-align: left;
    padding-left: 20px;
  }

  .job-stats {
    margin-top: 1%;
  }

  .job-filled {
    color: $dangerColor !important;
  }

  .job-applications {
    text-align: center;
    padding: 15px;
  }

  .matching-profiles {
    padding-top: 10px;
  }

  .show-post {
    color: $oechrBlueColor !important;
    text-decoration: underline;
  }

  .job-applications {
    button {
      border: none;
      background-color: $candidateColor;
      border-radius: 4px;
      color: white;
      height: 50px;
      padding: 15px;
    }
  }
}