profile {
  padding-top: $mainPagePaddingTop;
  display: block;
}

profile h2 {
  text-align: center;
}

profile form .btn-primary.submit {
  width: 100%;
  margin-top: 25px;
}

profile form label {
  margin-top: 25px;
}

profile .profile-router {
  background: white;
  padding: 0;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: $mainBoxShadow;
  -webkit-box-shadow: $mainBoxShadow;
  -o-box-shadow: $mainBoxShadow;
  box-shadow: $mainBoxShadow;
}

profile .page-title-container h3 {
  padding: 25px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  color: #a4acb3;
  text-align: center;
}

profile h3 .dynamic_data {
  font-family: $mainMediumFontFamily;
  color: $mainBlueColor;
}

profile .list-container {
  padding: 0;
}


profile .list-container ul {
  padding: 0;
  margin-bottom: 0;
}

profile .list-container ul li {
  padding: 5px 20px 20px 20px;
  border-bottom: 1px solid #e4e4e4;
}

profile .list-container ul a li {
  background: whitesmoke;
}

profile .list-container ul a:nth-child(odd) li {
  background: white;
}

profile .list-container ul a li:hover {
  background-color: ghostwhite;
}

profile .list-container ul a {
  color: #333;
}

profile .list-container ul li h3 {
  font-family: $mainMediumFontFamily;
  color: $mainBlueColor;
  padding-bottom: 5px;
}

profile .list-container ul li .date {
  float: right;
  color: #a9a9a9;
  font-family: $mainMediumFontFamily;
  text-transform: uppercase;
  font-size: 0.9em;
}

profile .header-container {
  padding: 0;
}


profile .header-container .create-btn-container {
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #CCC;
  height: 70px;
}

profile .header-container .create-btn-container button {
  border: 0;
  width: 100%;
  height: 69px;
  border-radius: 0;
  font-size: 1.25em;
}