profile {
  padding-top: $mainPagePaddingTop;
  display: block;
  max-width: $mainPageMaxWidth;
  margin: auto;

  .header-container {
    padding: 0;
    height: 60px;
    border-bottom: 1px solid #e6e6e6;

    .items-count {
      text-align: center;
      text-transform: uppercase;
      font-family: $mainBoldFontFamily;
      padding: 20px;
    }

    .main-checkbox-container {
      padding: 22px;
      text-align: center;
      border-right: 1px solid #e6e6e6;
      background: $mainBlueColor;
      border-top-left-radius: $mainBorderRadius;
    }

    .actions-container {
      padding: 0;
      text-align: right;

      button {
        width: 60px;
        background: transparent;
        border: none;
        border-left: 1px solid #e6e6e6;
        color: $mainBlueColor;

        &:hover {
          background: #eeeeee;
        }
      }
    }
  }

  h2 {
    text-align: center;
  }

  form .submit-btn, form .back-btn {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 60px;
  }

  form label {
    margin-top: 25px;
  }

  .profile-router {
    background: white;
    padding: 0;
    border-radius: $mainBorderRadius;
    -moz-box-shadow: $mainBoxShadow;
    -webkit-box-shadow: $mainBoxShadow;
    -o-box-shadow: $mainBoxShadow;
    box-shadow: $mainBoxShadow;
  }

  .page-title-container h3 {
    padding: 25px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #a4acb3;
    text-align: center;
  }

  .dynamic_data {
    font-family: $mainMediumFontFamily;
    color: $mainBlueColor;
  }

  .list-container {
    padding: 0;

    .checkbox-container {
      float: left;
      padding: 40px 0;
      text-align: center;
      border-right: 1px solid #e6e6e6;
      background: #f4f5fd;
    }

    ul {
      padding: 0;
      margin-bottom: 0;

      li {
        background: whitesmoke;
        padding: 0;
        margin: 0;
        border: 1px solid #ececec;

        &:nth-child(odd) {
          background: white;
        }

        &:hover {
          background-color: lighten($oechrBlueColor, 40%);
          border-color: $oechrBlueColor;
        }

        a {
          color: #333;
        }

        h3 {
          font-family: $mainMediumFontFamily;
          max-height: 20px;
          overflow: hidden;
          color: $mainBlueColor;
        }

        .date {
          float: right;
          color: #a9a9a9;
          font-family: $mainMediumFontFamily;
          text-transform: uppercase;
          font-size: 0.9em;
        }

        .item {
          margin-bottom: 15px;

          .item-desc {
            float: left;
            padding-left: 10px;
          }

          &.logo .item-desc {
            width: 65%;
            margin-right: 15px;
          }

          .logo {
            position: relative;
            top: 5px;
            display: inline-block;
            text-align: center;
            width: 25%;

            img {
              max-width: 80px;
              max-height: 80px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 700px) {
  profile .list-container ul li .date {
    display: none;
  }
}