profile-sidebar {
  display: block;
  border-radius: $mainBorderRadius;
  color: white;
  width: 20%;
  float: left;

  .user-infos {
    text-align: left;
    padding-top: 15px;
    margin: 0;
    background-color: $oechrBlueColor;
    border-radius: $mainBorderRadius;
    padding: 15px;

    .user-title {
      font-family: $mainBoldFontFamily;
      text-align: center;
      color: white;
    }

    .profile-picture {
      margin-bottom: 20px;
    }

    .profile-picture .img {
      width: 70px;
      height: 70px;
      margin: auto;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      border: 3px solid white;
    }
  }

  .new-job-post-btn {
    background-color: white;
    color: $mainDarkTextColor;
    font-family: $mainBoldFontFamily;
    border: none;
    height: 45px;
    margin-top: 20px;
  }

  .profile-sidebar-menu {
    text-align: left;
    margin-top: 20px;
    display: inline-block;

    .plan {
      padding-top: 15px;
      text-align: center;

      .plan-credits, .plan-contacts {
        text-align: center;
        font-family: $mainBoldFontFamily;
      }
    }

    a {
      color: $mainDarkTextColor;
      display: inline-block;
      width: 100%;
      padding: 15px;
      background: white;
      font-size: 1.15em;
      margin: 5px 0;
      border-radius: $mainBorderRadius;
      color: #333;

      &.active {
        background: $oechrBlueColor;
        color: white;

        &:hover {
          color: #333;
        }
      }

      &:hover {
        background: whitesmoke;
        border-left: 3px solid $oechrBlueColor;
      }
    }
  }
}