profile-sub-header {
  background: $oechrBlueColor;
  display: inline-block;
  width: 100%;
  color: white;
  padding: 15px;
  height: 130px;
  margin-top: $headerHeight;

  /**
    Fixed profile-sub-header style
  */

  &.fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    height: 80px;

    .progress-radial {
      width: 51px;
      height: 51px;

      .overlay {
        width: 40px;
        height: 40px;

        .img {
          width: 40px;
          height: 40px;
        }
      }
    }
    
    .complete-profile {
      top: -10px;
    }

    .profile-picture {
      padding-top: 0;
      top: -10px;
    }

    i, h2 {
      display: none;
    }

    h3 {
      margin: 0;
    }
  }

  .sub-header-wrapper {
    max-width: $mainPageMaxWidth;
    margin: auto;

    .profile-picture {
      padding-top: 5px;

      .img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        margin: auto;
      }
    }

    h2 {
      margin: 0;
      margin-top: 7px;
      font-size: 2.5em;
    }

    h3 {
      font-size: 1em;
      text-transform: uppercase;
      font-family: $mainMediumFontFamily;
    }

    .sub-header-menu-item {
      text-align: center;
      margin-top: 15px;

      a {
        color: white;
      }

      i {
        font-size: 2em;
      }
    }
  }
}

@media(max-width: $tabletWidth) {
  profile-sub-header {
    display: none;
  }
}