profile-sidebar {
  display: block;
  background-color: $oechrBlueColor;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: $mainBoxShadow;
  -webkit-box-shadow: $mainBoxShadow;
  -o-box-shadow: $mainBoxShadow;
  box-shadow: $mainBoxShadow;
  color: white;
  width: 20%;
  float: left;

  .user-infos {
    text-align: left;
    padding-top: 15px;
    margin: 0;

    .user-title {
      font-family: $mainBoldFontFamily;
      text-align: center;
      color: white;
    }

    .profile-picture {
      margin-bottom: 20px;
    }

    .profile-picture .img {
      width: 70px;
      height: 70px;
      margin: auto;
      background-size: cover;
      background-position: center center;
      border-radius: 50%;
      border: 3px solid white;
    }
  }

  .new-job-post-btn {
    background-color: white;
    color: $mainDarkTextColor;
    font-family: $mainBoldFontFamily;
    border: none;
    height: 45px;
    margin-top: 20px;
  }

  .profile-sidebar-menu {
    text-align: left;
    margin-top: 20px;
    display: inline-block;

    .plan {
      padding-top: 15px;
      text-align: center;

      .plan-credits, .plan-contacts {
        text-align: center;
        font-family: $mainBoldFontFamily;
      }
    }

    .menu-item {
      padding: 15px;
      font-size: 1.15em;
      border-top: 1px solid #DDD;
      background: white;
      cursor: pointer;
      color: $mainDarkTextColor;

      &:hover {
        background: whitesmoke;
      }

      a {
        color: $mainDarkTextColor;
      }
    }
  }
}