profile {
  padding-top: $mainPagePaddingTop;
  display: block;
}

profile h2 {
  text-align: center;
}

profile form .btn-primary.submit {
  width: 100%;
  margin-top: 25px;
}

profile form label {
  margin-top: 25px;
}

profile .profile-router {
  background: white;
  padding: 0;
  border-radius: $mainBorderRadius;
  -webkit-box-shadow: 0 0 0 2px rgba(226,231,238,0.25);
  box-shadow: 0 0 0 2px rgba(226,231,238,0.25);
}

profile .page-title-container h3 {
  padding: 25px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  color: #a4acb3;
  text-align: center;
}

profile h3 .dynamic_data {
  font-family: $mainMediumFontFamily;
  color: $mainBlueColor;
}

profile .list-container {
  padding: 0;
}


profile .list-container ul {
  padding: 0;
  margin-bottom: 0;
}

profile .list-container ul li {
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #e4e4e4;
}

profile .list-container ul li:hover {
  background-color: whitesmoke;
}

profile .list-container ul a {
  color: #333;
}

profile .list-container ul li h3 {
  font-family: $mainMediumFontFamily;
  color: $mainBlueColor;
  padding-bottom: 5px;
}

profile .header-container {
  padding: 0;
}