/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  background-color: white;
}

/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
  position: absolute;
  width: 79px;
  height: 79px;
  background-color: #fffde8;
  border-radius: 50%;
  margin-left: 11px;
  margin-top: 11px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */
.progress-0 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-5 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-10 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-15 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-20 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-25 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-30 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-35 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-40 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-45 {
  background-image: linear-gradient(90deg, $oechrBlueColor 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-50 {
  background-image: linear-gradient(-90deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-55 {
  background-image: linear-gradient(-72deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-60 {
  background-image: linear-gradient(-54deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-65 {
  background-image: linear-gradient(-36deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-70 {
  background-image: linear-gradient(-18deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-75 {
  background-image: linear-gradient(0deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-80 {
  background-image: linear-gradient(18deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-85 {
  background-image: linear-gradient(36deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-90 {
  background-image: linear-gradient(54deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-95 {
  background-image: linear-gradient(72deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}

.progress-100 {
  background-image: linear-gradient(90deg, white 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, white 50%, $oechrBlueColor 50%, $oechrBlueColor);
}
