recruiter-promo {
  padding-top: 100px;
  display: block;

  .recruiter-promo-heading {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    background-image: url('/img/header-home-recruteur.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    h1, h2 {
      color: white;
      margin-top: 200px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 25px;
    }

    .promo-container {
      max-width: 990px;
      width: auto;
      margin: auto;

      .promo-label {
        padding-top: 100px;
      }

      .sign-up-box, .login-box {
        border-radius: $mainBorderRadius;
        background: white;
        padding: 25px 10px;

        h2 {
          color: $mainDarkTextColor;
        }

        input {
          margin-bottom: 15px;
        }
      }

      .login-box {
        margin-top: 25px;
      }
    }
  }

  .recruiter-promo-container {
    max-width: 990px;
    width: 100%;
    margin: auto;

    h2 {
      color: $oechrBlueColor;
    }

    .screen-description {
      padding-top: 100px;
    }

    .step-by-step {
      margin-top: 50px;

      .step {
        .icon {
          padding: 15px;
          text-align: center;
          border-radius: 50%;
          color: white;

          strong {
            font-family: $mainBoldFontFamily;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 15px;
          }
        }
      }

      .line {
        height: 5px;
        background: white;
        border: 1px solid #CCC;
        position: relative;
        top: 10px;
        z-index: -1;
        width: 78%;
        margin: auto;
      }
    }

    .step-number {
      font-size: 45px;
      color: $oechrBlueColor;
    }
  }

  pricing-plans .plan, businesses .plan, my-job-posts .plan {
    margin: 55px !important;
  }

  .free-job-post {
    width: 100%;
    padding: 20px;
    background-color: $oechrBlueColor;
    text-align: center;
    color: white;
    font-size: 1.7em;
    letter-spacing: 2px;
  }

  .screen-container {
    padding-top: 100px;
  }
}