recruiter-promo {
  padding-top: 100px;
  display: block;

  .recruiter-promo-heading {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    background-image: url('/img/header-home-recruteur.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    h1, h2 {
      color: white;
      margin-top: 200px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 25px;
    }

    .promo-container {
      max-width: 990px;
      width: auto;
      margin: auto;

      .promo-label {
        padding-top: 100px;
      }

      .sign-up-box, .login-box {
        border-radius: $mainBorderRadius;
        background: white;
        padding: 25px 10px;

        h2 {
          color: $mainDarkTextColor;
        }

        input {
          margin-bottom: 15px;
        }
      }

      .login-box {
        margin-top: 25px;
      }
    }
  }
}