search {
  max-width: $mainPageMaxWidth;
  margin: auto;
  display: block;

  .scrolled-down {
    // margin-top: 230px;
    display: inline-block;
  }

  .user-not-logged-in {
    padding-top: $mainPagePaddingTop;
  }

  .user-logged-in {
    padding-top: 40px;
  }

  .router-outlet-container {
    width: 70%;
    float: left;
    margin-left: 3%;
  }

  .seo-data-container {
    padding: 25px;
    color: white;
    margin: 2%;
    width: 96%;
    text-align: center;
    background-color: darken($oechrBlueColor, 15%);
    border-radius: $mainBorderRadius;
  }
}

@media (max-width: $mobileWidth) {
  search {
    width: 100%;
    padding-top: 0;

    .scrolled-down {
      margin-top: 110px;

      job-search-sidebar {
        position: fixed;
        top: 0;
        z-index: 10;
        margin: 0;
      }
    }

    .user-not-logged-in {
      padding-top: 40px;
    }

    .router-outlet-container {
      width: 100%;
      margin: 0;
    }

    .seo-data-container {
      margin: 0;
      width: 100%;
      background-color: #3a3a3a;
      border-radius: 0;
    }
  }
}