search {
  max-width: 1100px;
  margin: auto;
  padding-top: $mainPagePaddingTop;
  display: block;

  .router-outlet-container {
    width: 70%;
    float: left;
    margin-left: 3%;
  }
}

@media (max-width: $mobileWidth) {
  search {
    width: 100%;
    padding-top: 0;

    .router-outlet-container {
      width: 100%;
    }
  }
}