sign-up-steps {
  display: block;

  .steps {
    margin: auto;
    display: block;
    width: 250px;

    .steps-line {
      position: relative;
      top: 42px;
      z-index: 1;
      border: 1px solid lighten($recruiterColor, 25%);
      width: 70%;
    }

    .step {
      float: left;
      margin: 0 20px;
      z-index: 10;
      position: relative;

      .step-number {
        padding: 10px;
        text-align: center;
        background-color: lighten($recruiterColor, 25%);
        color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-family: $mainBoldFontFamily;
      }

      &.active {
        .step-number {
          background-color: $recruiterColor;
        }
      }
    }
  }
}