#sign-in-modal .modal-dialog {
  max-width: 400px;
  width: 100%;
}

#sign-in-modal a {
  color: $mainDarkTextColor;
}

#sign-in-modal button, #sign-in-modal input[type=button] {
  width: 100%;
  font-family: $mainBoldFontFamily;
  padding: 15px 0px 15px 0px;
  font-size: 1.2em;
  height: 55px;
}

#sign-in-modal input[type=button]:hover {
  background: $mainDarkTextColor;
  color: white;
}

#sign-in-modal input[type=text], #sign-in-modal input[type=password] {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  font-size: 1.4em;
  color: #333;
  border: 1px solid #CCC;
}

#sign-in-modal button.close-modal, #sign-in-modal input.back-to-login {
  background: transparent;
  border: 1px solid #CCC;
  color: #CCC;
}

#sign-in-modal .remember-me, #sign-in-modal .forgot-password {
  padding: 20px;
  margin-bottom: 15px;
  height: 50px;
  color: #333;
}

#sign-in-modal .forgot-password {
  text-align: right;
}

#sign-in-modal .google-login, #sign-in-modal .fb-login {
  text-align: center;
  padding: 25px;
  margin-left: 4%;
  width: 92%;
  color: white;
  font-size: 1.3em;
  border-radius: 3px;
  cursor: pointer;
  font-family: $mainBoldFontFamily;
}

#sign-in-modal .google-login:hover, #sign-in-modal .fb-login:hover {
  opacity: 0.9;
}

#sign-in-modal .fb-login {
  background: #3B5998;
  margin-top: 5px;
  margin-bottom: 5px;
}

#sign-in-modal .google-login {
  background: #c53929;
  margin-bottom: 5px;
}

#sign-in-modal .email-sent, #sign-in-modal .loading {
  color: #333;
  text-align: center;
  margin-top: 15px;
  margin-left: -10px;
}