user-sidebar .user_infos {
  text-align: left;
  padding-top: 15px;
}

user-sidebar .user_infos .profile_picture {
  width: 50px;
  height: 50px;
  margin: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

user-sidebar .user-sidebar-menu {
  text-align: left;
  padding-right: 50px;
  margin-top: 30px;
  display: inline-block;
}

user-sidebar .user-sidebar-menu .menu-item {
  padding: 10px;
  font-size: 1.15em;
}

user-sidebar .user-sidebar-menu .menu-item a {
  color: $mainDarkTextColor;
}

user-sidebar .user-sidebar-menu .menu-item .fa {
  font-size: 1.5em;
  position: relative;
  top: 3px;
  margin-right: 10px;
}