user-sidebar {
  display: block;
  background-color: $mainBlueColor;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: $mainBoxShadow;
  -webkit-box-shadow: $mainBoxShadow;
  -o-box-shadow: $mainBoxShadow;
  box-shadow: $mainBoxShadow;
}

user-sidebar .user-infos {
  text-align: left;
  padding-top: 15px;
  margin: 0;
}

user-sidebar .user-infos .user-title {
  padding: 7px 0 0 25px;
  font-family: $mainBoldFontFamily;
  text-transform: uppercase;
  color: white;
}

user-sidebar .user-infos .profile-picture {
  width: 50px;
  height: 50px;
  margin: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}

user-sidebar .user-sidebar-menu {
  text-align: left;
  margin-top: 20px;
  display: inline-block;
}

user-sidebar .user-sidebar-menu .menu-item {
  padding: 15px;
  font-size: 1.15em;
  border-top: 1px solid #DDD;
  background: white;
  cursor: pointer;
}

user-sidebar .user-sidebar-menu .menu-item:hover {
  background: whitesmoke;
}

user-sidebar .user-sidebar-menu .menu-item a {
  color: $mainDarkTextColor;
}