sidebar .user_infos {
  text-align: center;
}

sidebar .user_infos .profile_picture {
  width: 50px;
  height: 50px;
  margin: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
}