user-sidebar {
  display: block;
  background-color: $mainBlueColor;
  border-radius: $mainBorderRadius;
  -moz-box-shadow: $mainBoxShadow;
  -webkit-box-shadow: $mainBoxShadow;
  -o-box-shadow: $mainBoxShadow;
  box-shadow: $mainBoxShadow;
  color: white;
  width: 20%;
}

user-sidebar .user-infos {
  text-align: left;
  padding-top: 15px;
  margin: 0;
}

user-sidebar .user-infos .user-title {
  font-family: $mainBoldFontFamily;
  text-align: center;
  color: white;
}

user-sidebar .user-infos .profile-picture {
  margin-bottom: 20px;
}

user-sidebar .user-infos .profile-picture .img {
  width: 70px;
  height: 70px;
  margin: auto;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  border: 3px solid white;
}

user-sidebar .user-sidebar-menu {
  text-align: left;
  margin-top: 20px;
  display: inline-block;
}

user-sidebar .user-sidebar-menu .menu-item {
  padding: 15px;
  font-size: 1.15em;
  border-top: 1px solid #DDD;
  background: white;
  cursor: pointer;
  color: $mainDarkTextColor;
}
user-sidebar .user-sidebar-menu .menu-item:hover {
  background: whitesmoke;
}

user-sidebar .user-sidebar-menu .menu-item a {
  color: $mainDarkTextColor;
}

user-sidebar .plan {
  padding-top: 15px;
  text-align: center;
}

user-sidebar .plan .plan-credits, user-sidebar .plan .plan-contacts {
  text-align: center;
  font-family: $mainBoldFontFamily;
}

user-sidebar .plan .new-job-post-btn {
  background-color: #35b6e1;
  color: white;
  font-family: $mainBoldFontFamily;
  border: none;
  height: 45px;
  margin-top: 20px;
}