// Custom fonts

@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir Book";
  src: url("/fonts/Avenir-Book.ttf");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("/fonts/Avenir-Medium.ttf");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("/fonts/Avenir-Heavy.ttf");
}

$mainBgColor: #f7f7f8;
$mainBlueColor: #1a1f38;
$mainDarkTextColor: #333;
$mainBorderRadius: 4px;
$mainPagePaddingTop: 150px;
$mainBoxShadow: 0px 0px 40px 0px #d8d8d8;
$mainLightFontFamily: 'Avenir Light', sans-serif;
$mainFontFamily: 'Avenir Book', sans-serif;
$mainMediumFontFamily: 'Avenir Medium', sans-serif;
$mainBoldFontFamily: 'Avenir Heavy', sans-serif;
$secondMainFontFamily: 'Open Sans', sans-serif;