<div style="max-width: 990px; width: 100%; margin: auto; margin-top: 100px;">
<H2>Qui sommes-nous ? </H2>

<strong>Vous êtes hôtelier restaurateur ?<br>

NOUS AUSSI !</strong><br>
<br>
Crée en 2014 par et pour des hôteliers restaurateurs, le site ouestemploichr.fr a rapidement évolué pour devenir LEADER de l’emploi en hôtellerie restauration sur l’Ouest (Bretagne & Pays de la Loire).<br>
<br>
De ce succès est né « COOKORICO.COM » afin de centraliser l’emploi pour le secteur des Cafés, Hôtels et restaurants sur la France entière et apporter une vraie solution à la profession.<br>
<strong><br>
Notre Objectif : Réveiller l’emploi en Hôtellerie Restauration, ensemble !</strong><br>
<br>
<br>
<strong>Tanguy VASSEUR<br>
</strong>Fondateur de Cookorico.com
</div>