<div class="col-md-12 header-container">
    <div class="col-md-1 col-sm-1 col-xs-1 main-checkbox-container">
        <input type="checkbox"
               [checked]="allItemsChecked"
               (change)="toggleAllItems()"/>
    </div>
    <div class="col-md-10 col-sm-10 col-xs-9 no-padding">
        <select class="form-control"
                name="jobPostId"
                ngControl="jobPostId"
                [(ngModel)]="jobPostId">
            <option disabled value="0">-- Sélectionnez une offre d'emploi --</option>
            <option *ngFor="let jobPost of jobPosts"
                    value="{{ jobPost.id }}">
                {{ jobPost.job_naming.title }} - {{ jobPost.business.title }} ({{ jobPost.applications.length }})
            </option>
        </select>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1 actions-container">
        <!--<button routerLink="['/profil/CreateAlert']">
            <span class="fa fa-plus"></span>
        </button>-->
        <button (click)="deleteSelectedItems()">
            <span class="fa fa-trash-o"></span>
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <div *ngFor="let item of items">
            <li class="row" *ngIf="item.job_id == jobPostId || !jobPostId">
                <div class="col-md-1 col-sm-1 col-xs-1 checkbox-container">
                    <input type="checkbox"
                           class="action-checkbox"
                           [checked]="checkedItemsList.indexOf(item.id) != -1"
                           (change)="saveCheckedItem(item.id)"/>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-10 item"
                     [class.photo]="item.user.profilePictureUrl">
                    <a routerLink="/profil/show/{{ item.user.id }}">
                        <div class="logo"
                             *ngIf="item.user.profilePictureUrl">
                            <img src="https://s3-eu-west-1.amazonaws.com/oechr-business-logo/{{ item.job.business.id }}.jpg"/>
                        </div>
                        <div class="item-desc">
                            <h3>{{ item.user.firstName }}</h3>
                            {{ item.user.firstName }} -- {{ item.user.firstName }}
                            <span class="date">
                                {{ item.user.firstName }} &nbsp;
                                <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </a>
                </div>
            </li>
        </div>
    </ul>
</div>