<div class="business-infos row"
     [class.user-not-logged-in]="!user"
     *ngIf="business.title">
    <div class="logo col-md-2 col-sm-2 col-xs-2"
         *ngIf="business.logo">
        <img src="{{ business.logo }}"
             class="full-width"/>
    </div>

    <div class="col-md-10 infos">
        <h2>{{ business.title }}</h2>
        <p *ngIf="business.place">
            {{ business.place.adress }}
        </p>
    </div>
</div>

<div class="business-infos row" *ngIf="club.username">
    <div class="logo col-md-2 col-sm-2 col-xs-2"
         *ngIf="club.profilePictureUrl">
        <img src="{{ club.profilePictureUrl }}"
             class="full-width"/>
    </div>

    <div class="col-md-10 infos">
        <h2>{{ club.username }}</h2>
        <p *ngIf="club.place">
            {{ club.place.city }}
        </p>
    </div>
</div>

<div class="business-desc row" *ngIf="business.description || club.description">
    <h2>Présentation</h2>
    <br />
    <p *ngIf="business">
        {{ business.description }}
    </p>
    <p *ngIf="club">
        {{ club.description }}
    </p>
    <br />
    <br />
    <div class="col-md-4 col-md-offset-4" *ngIf="!user">
        <a routerLink="/inscription-candidat">
            <button class="btn btn-primary full-width">
                Candidature spontanée
            </button>
        </a>
    </div>
</div>

<div class="jobs-listing row">
    <h2>
        Nos offres d'emploi
    </h2>
    <job-preview *ngFor="let job of jobs"
                 [job]="job">
    </job-preview>
</div>

<div class="business-photos row" *ngIf="business.photos">
    <div class="col-md-3 photo-container"
         *ngFor="let photo of business.photos">
        <img src="{{ photo.url }}"
             class="full-width"/>
    </div>
</div>
