<form #businessSelect="ngForm">
    <label>Établissement</label>
    <div class="col-md-12 business-select-container"
         id="business-select">
        <!-- <select class="form-control"
                (change)="businessIdHasChanged()"
                [required]="isRequired"
                *ngIf="!isGooglePlaceInput"
                [multiple]="isMultiple">
            <option selected disabled>-- Établissement --</option>
            <option *ngFor="let business of businesses"
                    value="{{ business.id }}"
                    [selected]="businessId==business.id">
                {{ business.title }} - {{ business.place.city }}
            </option>
        </select> -->

        <!--<div class="no-results-label"
             (click)="isGooglePlaceInput = !isGooglePlaceInput"
             *ngIf="businessInputText.length > 1 && !isGooglePlaceInput">
            Cliquez ici si votre établissement n'est pas là
        </div>
        <ng-select *ngIf="!isGooglePlaceInput"
                   [allowClear]="true"
                   [items]="businesses"
                   (selected)="businessIdHasChanged($event)"
                   (typed)="businessInputTextHasChanged($event)"
                   placeholder="Choisissez un établissement">
        </ng-select>-->

        <input type="text"
               class="form-control"
               [(ngModel)]="businessInputText"
               ngControl="businessInputText"
               name="businessInputText"
               *ngIf="isGooglePlaceInput"
               (setAddress)="parseAdress($event)"
               placeholder="Nom de l'établissement"
               googleplace/>
    </div>
</form>