<div class="col-md-12 header-container">
    <div class="col-md-1 col-sm-1 col-xs-1 main-checkbox-container">
        <input type="checkbox"
               [checked]="allItemsChecked"
               (change)="toggleAllItems()"/>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-7 items-count">
        <span *ngIf="checkedItemsList.length > 0">
            {{ checkedItemsList.length }}
        </span>
        <span *ngIf="checkedItemsList.length == 0">
            {{ items.length }}
        </span> établissement<span *ngIf="items.length > 1">s</span>
        <span *ngIf="checkedItemsList.length > 0"> sélectionnées </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4 actions-container">
        <button routerLink="/profil/business/create">
            <span class="fa fa-plus"></span>
        </button>
        <button (click)="deleteSelectedItems()">
            <span class="fa fa-trash-o"></span>
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items">
            <div class="col-md-1 col-sm-1 col-xs-1 checkbox-container">
                <input type="checkbox"
                       class="action-checkbox"
                       [checked]="checkedItemsList.indexOf(item.id) != -1"
                       (change)="saveCheckedItem(item.id)"/>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11 item"
                 [class.logo]="item.logo">
                <a routerLink="/profil/business/edit/{{ item.id }}">
                    <div class="item-desc">
                        <h3>{{ item.title }}</h3>
                        {{ item.city }}
                    </div>
                    <div class="logo">
                        <img src="{{ item.logo }}"/>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>