<div class="col-md-3 col-sm-3 col-xs-3 profile-picture-container">
    <div class="profile-picture"
         [ngStyle]="{'background-image': 'url(' + user.profilePictureUrl + ')'}">

    </div>
</div>
<div class="col-md-9 col-sm-9 col-xs-12 user-basic-infos">
    <span class="user-identity">
        <h2>
            <span *ngIf="user.civility">
                {{ user.civility.title }}
            </span>
            {{ user.firstName }} {{ user.lastName }}
        </h2>
    </span>
    <h3>
        À la recherche d'un poste
        <span *ngFor="let jobNaming of user['looking_for_job_namings']; let i = index;">
                de {{ jobNaming['title'] }}
                <span *ngIf="i + 1 != user['looking_for_job_namings'].length">,</span>
            </span>
    </h3>
    <b>
        {{ user.birthDate | date:"dd/MM/yyyy" }}
    </b>
    -
    <span *ngIf="user.place">
        <b class="editable">
            {{ user.place.city }}
        </b>
    </span>
    <br />

    <span *ngIf="user.phone">
        Tél :
        <b>
            {{ user.phone }}
        </b>
    </span>
    <br />

    E-mail :
    <b>
        {{ user.email }}
    </b>
    <br />

    <span *ngIf="user.status">
        {{ user.status.title }}<br />
    </span>
    <!-- TODO -->
    <span *ngIf="user.looking_for_job_naming">
        Profil recherché : <b>{{ user.looking_for_job_naming.title }}</b><br />
    </span>
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 profile-stats centered">
        <h2 class="centered">Vous avez complété {{ profilePercentage }}% de votre profil</h2><br />
        <h3>Plus vous compléterez votre profil et plus vos chances d'être vu par les recruteurs seront grandes.</h3>
        <br />
        <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 [ngStyle]="{'width': profilePercentage + '%'}">
                {{ profilePercentage }}%
            </div>
        </div>
    </div>

    <div class="col-md-12 centered">
        <br />
        Dernière mise à jour de votre profil : {{ user.updated_at | date:"dd/MM/yyyy" }}
        <br /><br />
        <button class="btn btn-primary"
                routerLink="/profil/apercu">
            Renseigner mon profil
        </button>
        <br /><br />
    </div>

    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="centered">Votre recherche d'emploi</h2>
            <br />
            <br />
        </div>
        <div class="col-md-6">
            <label>Poste(s) recherchés</label>
            <select class="form-control"
                    name="loooking_for_job_naming_0"
                    required
                    [class.error]="lookingForJobNamingList[0]['id'] == 0"
                    [(ngModel)]="lookingForJobNamingList[0]['id']">
                <option disabled selected value="0">-- Type de poste --</option>
                <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                          label="{{ jobNamingGroup.title }}">
                    <option *ngFor="let jobNaming of jobNamingGroup.job_namings"
                            value="{{ jobNaming.id }}">
                        {{ jobNaming.title }}
                    </option>
                </optgroup>
            </select>
            <select class="form-control"
                    name="loooking_for_job_naming_1"
                    [(ngModel)]="lookingForJobNamingList[1]['id']">
                <option disabled selected value="0">-- Type de poste --</option>
                <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                          label="{{ jobNamingGroup.title }}">
                    <option *ngFor="let jobNaming of jobNamingGroup.job_namings"
                            value="{{ jobNaming.id }}">
                        {{ jobNaming.title }}
                    </option>
                </optgroup>
            </select>
            <select class="form-control"
                    name="loooking_for_job_naming_2"
                    [(ngModel)]="lookingForJobNamingList[2]['id']">
                <option disabled selected value="0">-- Type de poste --</option>
                <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                          label="{{ jobNamingGroup.title }}">
                    <option *ngFor="let jobNaming of jobNamingGroup.job_namings"
                            value="{{ jobNaming.id }}">
                        {{ jobNaming.title }}
                    </option>
                </optgroup>
            </select>
            <div class="alert alert-warning alert-dismissible fade in" role="alert"
                 *ngIf="lookingForJobNamingList[0]['id'] == 0">
                Vous devez choisir un premier poste
            </div>
        </div>
        <div class="col-md-6">
            <label>Zone de recherche</label>
            <input type="text"
                   class="form-control"
                   placeholder="Localisation"
                   required
                   [(ngModel)]="lookingForJobNamingList[0]['place']['formatted_address']"
                   ngControl="lookingForJobNamingList[0]['place']['formatted_address']"
                   name="lookingForPlace1"
                   [class.error]="lookingForJobNamingList[0]['place'] == null"
                   (setAddress)="parseAdress($event, 0)"
                   googleplace/>
            <input type="text"
                   class="form-control"
                   placeholder="Localisation"
                   [(ngModel)]="lookingForJobNamingList[1]['place']['formatted_address']"
                   ngControl="lookingForJobNamingList[1]['place']['formatted_address']"
                   name="lookingForPlace2"
                   (setAddress)="parseAdress($event, 1)"
                   googleplace/>
            <input type="text"
                   class="form-control"
                   placeholder="Localisation"
                   (setAddress)="parseAdress($event, 2)"
                   [(ngModel)]="lookingForJobNamingList[2]['place']['formatted_address']"
                   ngControl="lookingForJobNamingList[2]['place']['formatted_address']"
                   name="lookingForPlace3"
                   googleplace/>
            <div class="alert alert-warning alert-dismissible fade in" role="alert"
                 *ngIf="lookingForJobNamingList[0]['place'] == null">
                Vous devez choisir une première zone de recherche
            </div>
        </div>

        <div class="col-md-12 centered">
            <button class="btn btn-primary"
                    (click)="saveJobSeekingInfos()"
                    [disabled]="!lookingForJobNamingList[0]['place']
                                || lookingForJobNamingList[0]['id'] == 0
                                || isSavingJobSeekingData">
                <span *ngIf="isSavingJobSeekingData"
                      class="fa fa-spinner fa-spin"></span> &nbsp;
                Enregistrer les modifications
            </button>
            <br />
            <br />
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="centered">Votre status actuel</h2>
        </div>
        <div class="col-md-6">
            <br />
            <label>Status actuel</label>
            <select class="form-control"
                    name="user_status"
                    [(ngModel)]="user.user_status_id"
                    ngControl="user.user_status_id">
                <option value="null">-- Votre status --</option>
                <option *ngFor="let status of candidateStatuses"
                        value="{{ status.id }}">
                    {{ status.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <br />
            <br />
            <button class="btn btn-primary full-width"
                    [disabled]="isSavingStatus"
                    (click)="saveUserStatus()">
                <span *ngIf="isSavingStatus"
                      class="fa fa-spinner fa-spin"></span> &nbsp;
                Enregistrer le status
            </button>
        </div>
    </div>

    <div class="col-md-12">
        <form #languageForm="ngForm">
            <div class="col-md-12">
                <h2 class="centered">Vos langues parlées</h2>
            </div>
            <div *ngFor="let spokenLanguage of userLanguages; let i = index">
                <div class="col-md-6">
                    <label>Langue</label>
                    <select class="form-control"
                            name="language{{ i }}"
                            required
                            [(ngModel)]="spokenLanguage['language_id']"
                            ngControl="language['language_id']">
                        <option value="0" disabled selected>-- Langue --</option>
                        <option *ngFor="let language of languages"
                                value="{{ language.id }}">
                            {{ language.title }}
                        </option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>Votre niveau</label>
                    <select class="form-control"
                            name="language_level_{{ i }}"
                            required
                            [(ngModel)]="spokenLanguage['language_level_id']"
                            ngControl="language['language_level_id']">
                        <option value="0" disabled selected>-- Votre niveau --</option>
                        <option *ngFor="let languageLevel of languageLevels"
                                value="{{ languageLevel.id }}">
                            {{ languageLevel.title }}
                        </option>
                    </select>
                </div>
                <div class="col-md-1">
                    <br />
                    <br />
                    <br />
                    <button class="btn btn-default"
                            (click)="removeSpokenLanguage(i)">
                        <span class="icon-trash"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default full-width"
                        [disabled]="isSavingLanguages"
                        (click)="addNewSpokenLanguage()">
                    Ajouter une nouvelle langue
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary full-width"
                        [disabled]="isSavingLanguages || !languageForm.valid"
                        (click)="saveSpokenLanguages()">
                    Enregistrer les langues
                    <span class="fa fa-spinner fa-spin" *ngIf="isSavingLanguages"></span>
                </button>
            </div>
        </form>
    </div>
</div>