<div class="col-md-12">
    <form #jobPostForm="ngForm" action="#">
        <div class="col-md-12">
            <label>Titre</label>
            <input type="text"
                   class="form-control"
                   required
                   [disabled]=!userCanPostJob
                   placeholder="Donnez un titre à votre annonce"
                   [(ngModel)]="jobPost.title"
                   ngControl="jobPost.title"
                   name="job_post_title"/>
        </div>
        <div class="col-md-12" [class.disabled]="!userCanPostJob">
            <business-select [businessId]="jobPost.business_id"
                             [onlyUserBusinesses]="true"
                             [isRequired]="true"
                             (businessIdChange)="handleBusinessIdChange($event)">

            </business-select>
        </div>
        <div class="col-md-6">
            <label>Type d'offre</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.job_type_id"
                    name="job_post_job_type"
                    ngControl="jobPost.job_type_id">
                <option selected disabled>-- Choisissez un type d'offre --</option>
                <option *ngFor="let jobType of jobTypes"
                        value="{{ jobType.id }}">
                    {{ jobType.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Type de contrat</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.contract_type_id"
                    name="job_post_contract_type"
                    ngControl="jobPost.contract_type_id">
                <option selected disabled>-- Choisissez un type de contrat --</option>
                <option *ngFor="let contractType of contractTypes"
                        value="{{ contractType.id }}">
                    {{ contractType.title }}
                </option>
            </select>
        </div>
        <div class="col-md-4">
            <label>Temps de travail</label>
            <input type="number"
                   class="form-control"
                   required
                   [disabled]="!userCanPostJob"
                   placeholder="h / semaine"
                   [(ngModel)]="jobPost.week_work_hours"
                   name="job_post_week_work_hours"
                   ngControl="jobPost.week_work_hours"/>
        </div>
        <div class="col-md-4">
            <label>Date de début</label>
            <input type="date"
                   class="form-control"
                   required
                   [disabled]="!userCanPostJob"
                   placeholder="Date de début"
                   [(ngModel)]="jobPost.start_date"
                   name="job_post_start_date"
                   ngControl="jobPost.start_date"/>
        </div>
        <div class="col-md-4">
            <label>Date de fin</label>
            <input type="date"
                   class="form-control"
                   required
                   [disabled]="!userCanPostJob"
                   placeholder="Date de fin"
                   [(ngModel)]="jobPost.end_date"
                   name="job_post_end_date"
                   ngControl="jobPost.end_date"/>
        </div>
        <div class="col-md-6">
            <label>Type d'emploi</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.job_naming_id"
                    name="job_post_job_naming"
                    ngControl="jobPost.job_naming_id">
                <option selected disabled>-- Choisissez un type d'emploi --</option>
                <option *ngFor="let jobNaming of jobNamings"
                        value="{{ jobNaming.id }}">
                    {{ jobNaming.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Formation professionnelle</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.diploma_id"
                    name="job_post_diploma"
                    ngControl="jobPost.diploma_id">
                <option selected disabled>-- Choisissez une formation professionnelle --</option>
                <option *ngFor="let diploma of diplomas"
                        value="{{ diploma.id }}">
                    {{ diploma.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Formation générale</label>
            <select class="form-control"
                    [(ngModel)]="jobPost.study_level_id"
                    required
                    [disabled]="!userCanPostJob"
                    name="job_post_study_level"
                    ngControl="jobPost.study_level_id">
                <option selected disabled>-- Choisissez une formation générale --</option>
                <option *ngFor="let studyLevel of studyLevels"
                        value="{{ studyLevel.id }}">
                    {{ studyLevel.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Expérience</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.job_xp_level_id"
                    name="job_post_xp_level"
                    ngControl="jobPost.job_xp_level_id">
                <option selected disabled>-- Choisissez un nomde d'année d'expérience --</option>
                <option *ngFor="let jobXpLevel of jobXpLevels"
                        value="{{ jobXpLevel.id }}">
                    {{ jobXpLevel.title }}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Niveau d'alerte</label>
            <select class="form-control"
                    required
                    [disabled]="!userCanPostJob"
                    [(ngModel)]="jobPost.alert_frequency_id"
                    name="job_post_alert_frequency"
                    ngControl="jobPost.alert_frequency_id">
                <option selected disabled>-- Choisissez à quelle fréquence vous serez alerté des postulants --</option>
                <option *ngFor="let alertFrequency of alertFrequencies"
                        value="{{ alertFrequency.id }}">
                    {{ alertFrequency.title }}
                </option>
            </select>
        </div>
        <div class="col-md-12" [class.disabled]="!userCanPostJob">
            <label>Description</label>
            <unity-tinymce [mceContent]="jobPost.description"
                           (newContentInput)="jobDescriptionChanged($event)">

            </unity-tinymce>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <label>Dés que possible</label>
                <input type="checkbox"
                       [disabled]="!userCanPostJob"
                       [(ngModel)]="jobPost.is_asap"
                       name="job_post_is_asap"
                       ngControl="jobPost.is_asap"/>
            </div>
            <div class="col-md-4">
                <label>Urgent</label>
                <input type="checkbox"
                       [disabled]="!userCanPostJob"
                       [(ngModel)]="jobPost.is_urgent"
                       name="job_post_is_urgent"
                       ngControl="jobPost.is_urgent"/>
            </div>
            <div class="col-md-4">
                <label>Logement inclus</label>
                <input type="checkbox"
                       [disabled]="!userCanPostJob"
                       [(ngModel)]="jobPost.is_hosting_employee"
                       name="job_post_is_hosting_employee"
                       ngControl="jobPost.is_hosting_employee"/>
            </div>
        </div>
        <div class="col-md-6">
            <a routerLink="/profile/job-posts">
                <button class="btn btn-default back-btn">
                    <span class="fa fa-arrow-left"></span> &nbsp;
                    Retour aux annonces
                </button>
            </a>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary submit-btn"
                    [disabled]="!jobPostForm.valid || !jobPost.business_id"
                    (click)="submitJobPost()">
                Sauvegarder
            </button>
        </div>
    </form>
</div>