<div class="col-md-12 header-container">
    <!--<div class="col-md-2 col-sm-2 col-xs-2 main-checkbox-container"
         [class.selected]="allItemsChecked"
         (click)="toggleAllItems()">
        <input type="checkbox"
               [checked]="allItemsChecked"
               (change)="toggleAllItems()"/>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-6 items-count">
        <span *ngIf="checkedItemsList.length > 0">
            {{ checkedItemsList.length }}
        </span>
        <span *ngIf="checkedItemsList.length == 0">
            {{ items.length }}
        </span> expérience<span *ngIf="items.length > 1">s</span>
        <span *ngIf="checkedItemsList.length > 0">
            sélectionnée<span *ngIf="checkedItemsList.length > 1">s</span>
        </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4 actions-container">
        <button routerLink="/profil/experience/creer">
            <span class="fa fa-plus"></span>
        </button>
        <button (click)="deleteSelectedItems()">
            <span class="fa fa-trash-o"></span>
        </button>
    </div>-->
    <h1>
        Vous avez {{ items.length }} expérience<span *ngIf="items.length > 1">s</span>
    </h1>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items"
            [class.selected]="checkedItemsList.indexOf(item.id) != -1">
            <!--<div class="col-md-2 col-sm-2 col-xs-2 checkbox-container"
                 (click)="saveCheckedItem(item.id)">
                <input type="checkbox"
                       class="action-checkbox"
                       [checked]="checkedItemsList.indexOf(item.id) != -1"
                       (change)="saveCheckedItem(item.id)"/>
            </div>-->
            <div class="col-md-11 col-sm-11 col-xs-10 item"
                 [class.logo]="item.business.logo">
                <a routerLink="/profil/experience/editer/{{ item.id }}">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.business.logo">
                        <img src="{{ item.business.logo }}"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="item.business.logo"
                         [class.col-md-7]="!item.business.logo"
                         [class.col-sm-5]="item.business.logo"
                         [class.col-sm-7]="!item.business.logo"
                         class="col-xs-8">
                        <h3>{{ item.job_naming.title }}</h3>
                        <span *ngIf="item.testimonial && item.testimonial.is_accepted">
                            <span class="fa fa-thumbs-up success"></span> &nbsp;Candidat recommandé<br />
                        </span>
                        <strong>{{ item.business.title }}</strong><br />
                        <span *ngIf="item.business.place">
                            {{ item.business.place.city }}
                        </span>
                    </div>
                </a>
            </div>
            <div class="col-md-1 like-container"
                 tooltipPlacement="top" tooltip="Vous avez été recommandé sur cette expérience">
                <h1 *>
                    <i class="fa fa-trash"></i>
                </h1>
            </div>
        </li>
    </ul>
</div>

<div class="col-md-12 add-item-container centered"
     routerLink="/profil/experience/creer">
    <button class="btn btn-primary full-width">
        <span class="fa fa-plus"></span> &nbsp; Ajouter une nouvelle expérience
    </button>
</div>