<div class="row">
    <div class="col-md-2">
        <h2>Cookorico</h2>
        <a href="#">
            Qui sommes-nous ?
        </a>
        <br />
        <a href="#">
            Mentions légales
        </a>
        <br />
        <a href="#">
            Contact
        </a>
        <br />
        <a href="#">
            CGU
        </a>
        <br />
        <a href="#">
            CGV
        </a>
    </div>
    <div class="col-md-2">
        <h2>Candidats</h2>
        <a href="#">
            Créer mon profil
        </a>
        <br />
        <a href="#">
            Devenir prenium
        </a>
        <br />
        <a href="#">
            Offres d'emploi
        </a>
        <br />
        <a href="#">
            Demander une recommandation
        </a>
    </div>
    <div class="col-md-2">
        <h2>Recruteurs</h2>
        <a href="#">
            Créer mon profil
        </a>
        <br />
        <a href="#">
            Nos offres d'abonnement
        </a>
        <br />
        <a href="#">
            Consulter les candidatures
        </a>
        <br />
        <a href="#">
            Déposer une offre
        </a>
        <br />
        <a href="#">
            Recrutement groupes, chaînes et franchises
        </a>
        <br />
        <a href="#">
            Recrutement clubs
        </a>
        <br />
        <a href="#">
            FAQ
        </a>
    </div>
    <div class="col-md-2">
        <h2>Partenaires</h2>
        <a href="#">
            Annonceurs
        </a>
    </div>
    <div class="col-md-4">
        <div class="logo"></div>
        <br />
        <h2>Suivez-nous</h2>
        <i class="fa fa-facebook-square"></i>
        &nbsp;
        <i class="fa fa-twitter-square"></i>
        &nbsp;
        <i class="fa fa-youtube-square"></i>
    </div>
</div>