<div class="row">
    <div class="col-md-2">
        <h2>Cookorico</h2>
        <a routerLink="/qui-sommes-nous">
            Qui sommes-nous ?
        </a>
        <!--<br />
        <a href="#">
            Mentions légales
        </a> -->
        <br />
        <a routerLink="/conditions-utilisations">
            CGU
        </a>
        <br />
        <a routerLink="/conditions-vente">
            CGV
        </a>
    </div>
    <div class="col-md-2">
        <h2>Candidats</h2>
        <a routerLink="/inscription-candidat">
            Créer mon profil
        </a>
        <br />
        <a routerLink="/recherche">
            Offres d'emploi
        </a>
        <br />
    </div>
    <div class="col-md-2">
        <h2>Recruteurs</h2>
        <a routerLink="/accueil-recruteur">
            Créer mon profil
        </a>
        <br />
        <a routerLink="/accueil-recruteur">
            Nos offres d'abonnement
        </a>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <div class="logo"></div>
        <br />
        <h2>Suivez-nous</h2>
        <i class="fa fa-facebook-square"></i>
        &nbsp;
        <i class="fa fa-twitter-square"></i>
    </div>
</div>