<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-10">
        <a [routerLink]="['Home']">
            <div class="logo"></div>
        </a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-2 hidden-md hidden-lg mobile-menu-toggle">
        <span class="fa fa-list"></span>
    </div>
    <div class="col-md-9 hidden-sm hidden-xs">
        <ul>
            <!-- User is connected -->
            <li *ngIf="!user"
                class="recruiter_btn">
                <a [routerLink]="['SignUp']">
                    Espace recruteur
                </a>
            </li>

            <sign-in (userSignedIn)="handleUserSignedIn($event)"
                     (userSignedOut)="handleUserSignedOut($event)">

            </sign-in>

            <li *ngIf="!user">
                <a [routerLink]="['SignUp']">
                    S'inscrire
                </a>
            </li>

            <li *ngIf="user">
                <a [routerLink]="['Profile']">
                    Mon compte
                </a>
            </li>
        </ul>
    </div>
</div>