<div class="row header-fixed">
    <div class="col-md-3 col-sm-3 col-xs-10">
        <a routerLink="/">
            <div class="logo"></div>
        </a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-2 hidden-md hidden-lg mobile-menu-toggle">
        <span class="fa fa-list"></span>
    </div>
    <div class="col-md-9 hidden-sm hidden-xs">
        <ul>
            <!-- User is connected -->
            <li *ngIf="!user"
                class="recruiter_btn">
                <a routerLink="sign-up">
                    Espace recruteur
                </a>
            </li>

            <sign-in (userSignedIn)="handleUserSignedIn($event)"
                     (userSignedOut)="handleUserSignedOut($event)"
                     [user]="user">
                
            </sign-in>

            <li *ngIf="!user">
                <a routerLink="sign-up">
                    S'inscrire
                </a>
            </li>

            <li *ngIf="user">
                <a routerLink="profile">
                    Mon compte
                </a>
            </li>
        </ul>
    </div>
</div>

<profile-sub-header *ngIf="user"></profile-sub-header>