<div class="col-md-3 col-sm-3 input-container">
    <input type="text"
           class="form-control"
           placeholder="Localisation"
           (setAddress)="parseAdress($event)"
           googleplace/>
</div>
<div class="col-md-3 col-sm-3 input-container">
    <select class="form-control"
            [(ngModel)]="jobNamingId">
        <option disabled selected value="0">-- Type de poste --</option>
        <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                  label="{{ jobNamingGroup.title }}">
            <option *ngFor="let jobNaming of jobNamingGroup.job_namings"
                    value="{{ jobNaming.id }}">
                {{ jobNaming.title }}
            </option>
        </optgroup>
    </select>
</div>
<div class="col-md-3 col-sm-3 input-container">
    <select class="form-control"
            [(ngModel)]="contractTypeId">
        <option disabled selected value="0">-- Type de contrat --</option>
        <option *ngFor="let contractType of contractTypes"
                value="{{ contractType.id }}">
            {{ contractType.title }}
        </option>
    </select>
</div>
<div class="col-md-3 col-sm-3 input-container">
    <a [routerLink]="['/JobSearch/ShowAllJobs']">
        <button class="btn btn-primary find-btn">
            Trouver un job &nbsp; <span class="fa fa-angle-right"></span>
        </button>
    </a>
</div>