<div class="col-md-4 col-sm-4 input-container">
    <input type="text"
           class="form-control"
           placeholder="Localisation"
           (setAddress)="parseAdress($event)"
           googleplace/>
</div>
<div class="col-md-4 col-sm-4 input-container">
    <!--<select class="form-control"
            [(model)]="jobNamingId">
        <option disabled selected value="0">-- Type de poste --</option>
        <optgroup *ngFor="let jobNamingGroup of jobNamingGroups"
                  label="{{ jobNamingGroup.title }}">
            <option *ngFor="let jobNaming of jobNamingGroup.job_namings"
                    value="{{ jobNaming.id }}">
                {{ jobNaming.title }}
            </option>
        </optgroup>
    </select>-->
</div>
<div class="col-md-4 col-sm-4 input-container">
    <a [routerLink]="['/JobSearch/ShowAllJobs']">
        <button class="btn btn-primary find-btn"
                md-tooltip="some message" tooltip-position="below">
            Trouver un job &nbsp; <span class="fa fa-angle-right"></span>
        </button>
    </a>
</div>