<a routerLink="/recherche/annonce/{{ job.id }}">
    <div class="logo col-md-2 col-sm-2 col-xs-2"
          *ngIf="job.business.logo">
        <img src="{{ job.business.logo }}"/>
    </div>

    <div class="basic-infos"
         [class.col-xs-9]="!job.business.logo"
         [class.col-xs-7]="job.business.logo"
         [class.col-sm-9]="!job.business.logo"
         [class.col-sm-7]="job.business.logo"
         [class.col-md-9]="!job.business.logo"
         [class.col-md-7]="job.business.logo">
        <div class="title">
            {{ job.title }}
        </div>
        <div class="business_name">
            <h4>{{ job.business.title }}</h4>
        </div>
        <div class="business_adress"
             *ngIf="job.business.place.city">
            <i class="fa fa-map-marker"></i> &nbsp; {{ job.business.place.city }}
        </div>
    </div>

    <div class="additional_infos col-md-3 col-sm-3 col-xs-3">
        <div class="contract_type">
            {{ job.contract_type.title }} - {{ job.week_work_hours }}h
        </div>
        <div class="post_date">
            Publiée le <b>{{ job.created_at | date:"dd/MM/yy" }}</b>
        </div>
    </div>
</a>