<div class="row">

    <div class="col-md-12 search-summary">
        Vous recherchez un poste de
        <span class="job-badge badge">
            Pizzaïolo / Crêpier
        </span>
        <span *ngFor="let jobNamingId of jobNamingList" class="job-badge badge">
            {{ jobNamings[jobNamings.indexOf(jobNamingId) - 1]['title'] }}
        </span>
        à
        <span class="location-badge badge">Annecy</span>
    </div>

    <div class="col-md-12">
        <h3 (click)="isJobNamingCollapsed = !isJobNamingCollapsed">
            <span class="badge" [class.inactive]="jobNamingList.length == 1">
                {{ jobNamingList.length - 1 }}
            </span> &nbsp;
            Type de poste
        </h3>
        <br />
        <div [collapse]="isJobNamingCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let jobNaming of jobNamings">
                    <li [class.group]="jobNaming.is_naming_group"
                        *ngIf="jobsCountFromParameterValue('job_naming_id', jobNaming.id) > 0"
                        (click)="updateSearchParameter('jobNaming', jobNaming.id, jobNaming.title)">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="!jobNamingList.indexOf(jobNaming.id)"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ jobNaming.title }} ({{ jobsCountFromParameterValue('job_naming_id', jobNaming.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <h3 (click)="isStudyLevelCollapsed = !isStudyLevelCollapsed">
            <span class="badge" [class.inactive]="studyLevelList.length == 1">
                {{ studyLevelList.length - 1 }}
            </span> &nbsp;
             Niveau d'étude
        </h3>
        <div [collapse]="isStudyLevelCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let studyLevel of studyLevels">
                    <li (click)="updateSearchParameter('studyLevel', studyLevel.id)"
                        [class.active]="!studyLevelList.indexOf(studyLevel.id)"
                        *ngIf="jobsCountFromParameterValue('study_level_id', studyLevel.id, studyLevel.title) > 0">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="!studyLevelList.indexOf(studyLevel.id)"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ studyLevel.title }}
                                ({{ jobsCountFromParameterValue('study_level_id', studyLevel.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <br />
        <h3 (click)="isContractTypeCollapsed = !isContractTypeCollapsed">
            <span class="badge" [class.inactive]="contractTypeList.length == 1">
                {{ contractTypeList.length - 1 }}
            </span> &nbsp;
            Type de contrat
        </h3>
        <div [collapse]="isContractTypeCollapsed"
             class="col-md-12">
            <ul>
                <div *ngFor="let contractType of contractTypes">
                    <li *ngIf="jobsCountFromParameterValue('contract_type_id', contractType.id) > 0"
                        (click)="updateSearchParameter('contractType', contractType.id, contractType.title)">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2 checkbox-container">
                                <input type="checkbox" [checked]="!contractTypeList.indexOf(contractType.id)"/>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10 title-container">
                                {{ contractType.title }}
                                ({{ jobsCountFromParameterValue('contract_type_id', contractType.id) }})
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>