<h2 class="centered">Les profils correspondants à vos annonces</h2>
<hr />
<div class="col-md-12 header-container">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <select class="form-control"
                name="jobNamingId"
                ngControl="jobNamingId"
                [(ngModel)]="jobNamingId">
            <option disabled value="0">-- Offre d'emploi --</option>
            <option *ngFor="let jobPost of jobPosts"
                    value="{{ jobPost.job_naming.id }}">
                {{ jobPost.job_naming.title }} - {{ jobPost.business.title }}
            </option>
        </select>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <select class="form-control"
                ngControl="xpLevelId"
                [(ngModel)]="xpLevelId">
            <option disabled value="0">-- Expérience minimale --</option>
            <option *ngFor="let xpLevel of xpLevels"
                    value="{{ xpLevel.id }}">
                {{ xpLevel.title }}
            </option>
        </select>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <div *ngFor="let item of items">
            <li class="row" *ngIf="(item.lookingForJobNamingIdList.indexOf(jobNamingId) != -1 || !jobNamingId)
                                    && item.user_status_id != 2">
                <div class="col-md-12 col-sm-12 col-xs-12 item"
                     [class.photo]="item.profilePictureUrl">
                    <a routerLink="/profil/apercu/{{ item.id }}">
                        <div class="col-md-2"
                             *ngIf="item.profilePictureUrl">
                            <img src="{{ item.profilePictureUrl }}" class="full-width"/>
                        </div>
                        <div class="col-md-8">
                            <h3>
                                {{ item.firstName }} <span *ngIf="item.lastName">{{ item.lastName.substr(0, 1) }}.</span>
                            </h3>
                            <span *ngIf="item.job_xp_level">
                                Expérience : {{ item.job_xp_level.title }}
                            </span>
                            <p>
                                {{ item.description.substr(0, 200) }}...
                            </p>
                        </div>
                        <div class="col-md-2 show-profile">
                            <div class="centered">
                                Profil mis à jour le {{ item.updated_at | date:"dd/MM/yyyy" }}
                            </div>
                            <button>
                                Voir le profil
                            </button>
                        </div>
                    </a>
                </div>
            </li>
        </div>
    </ul>
</div>