<div class="col-md-12 header-container">
    <div class="col-md-12 col-sm-12 col-xs-11 items-count">
        <span *ngIf="checkedItemsList.length > 0">
            {{ checkedItemsList.length }}
        </span>
        <span *ngIf="checkedItemsList.length == 0">
            {{ items.length }}
        </span> annonce<span *ngIf="items.length > 1">s</span>
        en ligne
        <span *ngIf="checkedItemsList.length > 0"> sélectionnées </span>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 [class.logo]="item.business.logo">
                <a routerLink="/profil/annonce/editer/{{ item.id }}">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.business.logo">
                        <img src="{{ item.business.logo }}"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="item.business.logo"
                         [class.col-md-7]="!item.business.logo"
                         [class.col-sm-5]="item.business.logo"
                         [class.col-sm-7]="!item.business.logo"
                         class="col-xs-8">
                        <h3>{{ item.job_naming.title.substr(0, 30) }}...</h3>
                        {{ item.contract_type.title }} - {{ item.week_work_hours }}h<br />
                        {{ item.business.title }}<br />
                        <span *ngIf="item.business.place.city">
                            {{ item.business.place.city }}<br />
                        </span>
                        Publié le {{ item.created_at }}<br />
                        <!-- <span class="date">
                            {{ item.start_date }} &nbsp;
                            <span class="fa fa-arrow-right"></span> &nbsp;
                            {{ item.end_date }}
                        </span> -->
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4 job-applications">
                        <a routerLink="/profil/profils-correspondants/{{ item.id }}">
                            <button>
                                Profils corresp.
                            </button>
                        </a>
                        <a routerLink="/profil/postulants/{{ item.id }}"
                           [class.disabled]="item.applications.length == 0">
                            <br />
                            <div class="matching-profiles">
                                {{ item.applications.length }} postulants
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs job-stats">
                        <b>REF{{ item.id }}</b><br />
                        <span *ngIf="item.print_count">
                            <i class="icon-eyeglasses"></i> &nbsp; {{ item.print_count }} vues<br />
                        </span>
                        <span *ngIf="item.click_count">
                            <i class="icon-cursor"></i> &nbsp; {{ item.click_count }} clics<br />
                        </span>
                        <a class="show-post"
                           routerLink="/recherche/annonce/{{ item.id }}">
                            Voir l'annonce<br />
                        </a>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>