<div class="col-md-12 header-container">
    <div class="col-md-10 col-sm-10 col-xs-9 items-count">
        <span *ngIf="checkedItemsList.length > 0">
            {{ checkedItemsList.length }}
        </span>
        <span *ngIf="checkedItemsList.length == 0">
            {{ items.length }}
        </span> annonce<span *ngIf="items.length > 1">s</span>
        en ligne
        <span *ngIf="checkedItemsList.length > 0"> sélectionnées </span>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2 actions-container">
        <button routerLink="/profile/job-post/create">
            <span class="fa fa-plus"></span>
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li class="row" *ngFor="let item of items">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 [class.logo]="item.business.logo">
                <a routerLink="/profile/job-post/edit/{{ item.id }}">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="item.business.logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/oechr-business-logo/{{ item.business.id }}.jpg"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="item.business.logo"
                         [class.col-md-7]="!item.business.logo"
                         [class.col-sm-5]="item.business.logo"
                         [class.col-sm-7]="!item.business.logo"
                         class="col-xs-8">
                        <h3>{{ item.job_naming.title.substr(0, 30) }}...</h3>
                        {{ item.contract_type.title }} - {{ item.week_work_hours }}h<br />
                        {{ item.business.title }}<br />
                        <span *ngIf="item.business.place.city">
                            {{ item.business.place.city }}<br />
                        </span>
                        Publié le {{ item.created_at }}<br />
                        <!-- <span class="date">
                            {{ item.start_date }} &nbsp;
                            <span class="fa fa-arrow-right"></span> &nbsp;
                            {{ item.end_date }}
                        </span> -->
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4 job-applications"
                         [class.disabled]="item.applications.length == 0">
                        <a routerLink="/profile/applicants/{{ item.id }}">
                            <button>
                                33 profils
                            </button>
                            <br />
                            <div class="matching-profiles">
                                {{ item.applications.length }} postulants
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 hidden-xs job-stats">
                        <b>REF{{ item.id }}</b><br />
                        <span *ngIf="item.print_count">
                            <i class="icon-eyeglasses"></i> &nbsp; {{ item.print_count }} vues<br />
                        </span>
                        <span *ngIf="item.click_count">
                            <i class="icon-cursor"></i> &nbsp; {{ item.click_count }} clics<br />
                        </span>
                        <a class="show-post"
                           routerLink="/recherche/job/{{ item.id }}">
                            Voir l'annonce<br />
                        </a>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>