<div class="col-md-12">
    <h3 *ngIf="!application.id">Postuler à cette offre</h3>
    <h3 *ngIf="application.id">Vous avez déjà postulé à cette offre</h3>
</div>
<div class="col-md-12">
    <unity-tinymce [mceContent]="application.comment"
                   [readOnly]="application.id"
                   (newContentInput)="commentChanged($event)">

    </unity-tinymce>
</div>
<div class="col-md-6 back-btn-container">
    <a routerLink="['/job-search/all-jobs']">
        <button class="btn btn-default">
            <span class="fa fa-arrow-left"></span> &nbsp; Retour à la recherche
        </button>
    </a>
</div>
<div class="col-md-6 apply-btn-container">
    <button (click)="submitApplication()"
            [disabled]="application.id"
            class="btn btn-primary">
        Postuler
    </button>
</div>