<h2>Votre abonnement recruteur</h2>
<hr />
<div *ngFor="let plan of plans"
     class="col-md-12 centered">
    <div *ngIf="plan.credits > 0">
        <div class="col-md-12">
            <h3>Il vous reste actuellement {{ plan.credits }} crédits</h3>
        </div>
        <div class="col-md-12">
            <h3>{{ plan.pricing_plan.daily_contacts }} accès CVthèque disponibles</h3><br />
        </div>
        <div class="col-md-12">
            Facture payée le {{ plan.created_at | date:"dd/MM/yyyy" }}
            <br /><br />
        </div>
    </div>
</div>

<h2>Trouvez le pack adapté à vos besoins</h2>
<hr />
<h3 class="centered">Vous êtes restaurateur ?</h3>
<div *ngFor="let service of services; let i = index"
     class="col-md-3 centered plan plan-{{ i }}">
    <h3>
        {{ service.tradename }}
    </h3>
    <hr/>
    <p [innerHTML]="service.notes">

    </p>
    <hr/>
    <h2>
        {{ service.formatted_unitAmount }}
    </h2>
    <br />
    <button class="btn btn-primary full-width"
            (click)="payWithPaypal(service)"
            id="pay-with-paypal-btn-{{ i }}">
        <span class="fa fa-paypal"></span> &nbsp; Souscrire
    </button>
</div>

<div class="pricing-table pricing-table-table col-md-12">
    <div class="visible-xs-block">
        <div class="pricing-table-tabs btn-group" data-toggle="buttons">
            <label class="btn btn-accent">
                <input type="radio" name="pricing-plan" value="1"> Pack 1 étoile
            </label>
            <label class="btn btn-accent active">
                <input type="radio" name="pricing-plan" value="2" checked=""> Pack 3 étoiles
            </label>
            <label class="btn btn-accent">
                <input type="radio" name="pricing-plan" value="3"> Pack 5 étoiles
            </label>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                <span class="hidden">Plan features</span>
            </th>
            <th id="ph-1">
                <span class="heading pricing-title bold">Pack 1 étoile</span>
                <span>1 annonce à l'unité</span>
            </th>
            <th id="ph-2" class="visible-cell">
                <span class="heading pricing-title bold">Pack 3 étoiles</span>
                <span>5 annonces à l'unité</span>
            </th>
            <th id="ph-3">
                <span class="heading pricing-title bold">Pack 5 étoiles</span>
                <span>5 emplacements illimités à l'année</span>
            </th>
        </tr>
        </thead>
        <tbody class="pricing-details">
        <tr>
            <th><span>Prix</span></th>
            <td headers="ph-1">
                <span class="pricing-price">
                    <span class="price odometer odometer-auto-theme" data-monthly-price="0" data-annual-price="0"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">5</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">8</span></span></span></span></span></div></span>
                </span>
            </td>
            <td headers="ph-2" class="visible-cell">
                <span class="pricing-price">
                    <span class="price odometer odometer-auto-theme" data-monthly-price="0" data-annual-price="0"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">2</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">80</span></span></span></span></span></div></span>
                </span>
            </td>
            <td headers="ph-3">
                <span class="pricing-price">
                    <span class="price odometer odometer-auto-theme" data-monthly-price="0" data-annual-price="0"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer">4</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value">90</span></span></span></span></span></div></span>
                </span>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th colspan="4">
                <span class="pricing-title heading bold text-uppercase">Fonctionnalités</span>
            </th>
        </tr>
        </tbody>
        <tbody class="pricing-details">
        <tr>
            <th id="pc-1">Annonces visibles</th>
            <td headers="ph-1 pc-1">30 jours</td>
            <td headers="ph-2 pc-1" class="visible-cell">30 jours</td>
            <td headers="ph-3 pc-1">30 jours</td>
        </tr>
        <tr>
            <th id="pc-2">Multidiffusion</th>
            <td headers="ph-1 pc-2">Inclus</td>
            <td headers="ph-2 pc-2" class="visible-cell">Inclus</td>
            <td headers="ph-3 pc-2">Inclus</td>
        </tr>
        <tr>
            <th id="pc-3">Statistiques</th>
            <td headers="ph-1 pc-3">Inclus</td>
            <td headers="ph-2 pc-3" class="visible-cell">Inclus</td>
            <td headers="ph-3 pc-3">Inclus</td>
        </tr>
        <tr>
            <th id="pc-4">Gestion des candidats</th>
            <td headers="ph-1 pc-3">Inclus</td>
            <td headers="ph-2 pc-3" class="visible-cell">Inclus</td>
            <td headers="ph-3 pc-3">Inclus</td>
        </tr>
        <tr>
            <th id="pc-5">Accès Cvthèque ciblée</th>
            <td headers="ph-1 pc-5">5 / jour</td>
            <td headers="ph-2 pc-5" class="visible-cell">20 / jour</td>
            <td headers="ph-3 pc-5">50 / jour</td>
        </tr>
        <tr>
            <th id="pc-6">Remonter votre annonce</th>
            <td headers="ph-1 pc-6"><span class="fa fa-times danger"></span></td>
            <td headers="ph-2 pc-6" class="visible-cell">1 fois</td>
            <td headers="ph-3 pc-6">Illimité</td>
        </tr>
        <tr>
            <th id="pc-7">Assistance téléphonique</th>
            <td headers="ph-1 pc-7"><span class="fa fa-times danger"></span></td>
            <td headers="ph-2 pc-7" class="visible-cell"><span class="fa fa-times danger"></span></td>
            <td headers="ph-3 pc-7">Inclus</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-md-12 centered group-info">
    <hr />
    <h2>Vous êtes une agence d'intérim, un groupement d'hôtels ?</h2>
    <div class="about-us">
        <h2>Découvrez nos solutions, contactez-nous</h2>
        <button class="btn btn-default">
            <span class="fa fa-envelope"></span> &nbsp; Par mail
        </button>
        <button class="btn btn-default">
            <span class="fa fa-phone"></span> &nbsp; 06 00 00 00 00
        </button>
    </div>
</div>