<div class="sub-header-wrapper"
     *ngIf="user">
    <div class="profile-picture col-md-2 col-sm-2"
         *ngIf="user.profilePictureUrl">
        <div class="progress-radial progress-{{ profilePercentage }}">
            <div class="overlay">
                <div class="img"
                     [ngStyle]="{'background-image': 'url(' + user.profilePictureUrl + ')'}">
                </div>
            </div>
        </div>
    </div>
    <div [class.col-md-4]="user.profilePictureUrl"
         [class.col-md-6]="!user.profilePictureUrl"
         [class.col-sm-4]="user.profilePictureUrl"
         [class.col-sm-6]="!user.profilePictureUrl">
        <div class="hidden-sm">
            <h2 *ngIf="user.is_active && user.user_type_id != 1">Bonjour {{ user.firstName }}</h2>
            <h2 *ngIf="user.user_type_id == 1">Administration</h2>
            <h2 *ngIf="!user.is_active">Bienvenue</h2>
            <br />
            <a routerLink="/profil"
               *ngIf="user.is_active && user.user_type_id == 3">
                <span class="badge complete-profile">
                    Visibilité du profil : {{ profilePercentage }}% <span class="fa fa-angle-right"></span>
                </span>
            </a>
            <a routerLink="/profil/annonces"
               *ngIf="user.is_active && user.user_type_id == 2">
                <span class="badge complete-profile">
                    Vos annonces >
                </span>
            </a>
        </div>
    </div>

    <!-- Candidate menu -->
    <div *ngIf="user.user_type_id == 3">
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/espace-candidate" routerLinkActive="active">
                <i class="icon-home"><br /></i>
                <h3>Mon espace emploi</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/candidatures" routerLinkActive="active">
                <i class="icon-user-following"><br /></i>
                <h3>Mes candidatures</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/recherche" routerLinkActive="active">
                <i class="icon-magnifier"><br /></i>
                <h3>Toutes les offres</h3>
            </a>
        </div>
    </div>

    <!-- Recruiter menu -->
    <div *ngIf="user.user_type_id == 2">
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/annonces" routerLinkActive="active">
                <i class="icon-note"><br /></i>
                <h3>Mes annonces</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/postulants" routerLinkActive="active">
                <i class="icon-user-following"><br /></i>
                <h3>Mes postulants</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/etablissements" routerLinkActive="active">
                <i class="icon-layers"><br /></i>
                <h3>Mes établissements</h3>
            </a>
        </div>
    </div>

    <!-- Admin -->
    <div *ngIf="user.user_type_id == 1">
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/annonces_admin" routerLinkActive="active">
                <i class="icon-note"><br /></i>
                <h3>Annonces à valider</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/mail-templates" routerLinkActive="active">
                <i class="icon-envelope"><br /></i>
                <h3>Mails</h3>
            </a>
        </div>
        <div class="col-md-2 col-sm-2 sub-header-menu-item"
             [class.disabled]="!user.is_active">
            <a routerLink="/profil/clubs" routerLinkActive="active">
                <i class="icon-layers"><br /></i>
                <h3>Clubs</h3>
            </a>
        </div>
    </div>
</div>