<!-- User is connected -->
<div *ngIf="user" class="user-infos row">
    <div class="col-md-12 profile-picture">
        <div class="img"
             [ngStyle]="{'background-image': 'url(' + profilePictureUrl + ')'}">
        </div>
    </div>
    <div class="col-md-12 user-title">
        {{ user.firstName }} {{ user.lastName }}<br/>
    </div>
    <div *ngIf="user.user_type_id == 2"
         *ngFor="let plan of plans"
         class="col-md-12">
        <div class="plan" *ngIf="plan.credits > 0">
            <div class="col-md-6 plan-credits">
                {{ plan.credits }} crédits
            </div>
            <div class="col-md-6 plan-contacts">
                {{ plan.pricing_plan.daily_contacts }} contacts
            </div>
            <a routerLink="['/Profile/CreateJobPost']">
                <button class="btn btn-default new-job-post-btn">
                    <span class="fa fa-plus-circle"></span> &nbsp;Publier une offre
                </button>
            </a>
        </div>
    </div>
</div>
<div class="profile-sidebar-menu">
    <a routerLink="/profile/show"
       routerLinkActive="active">
        Aperçu du profil
    </a>
    <a *ngIf="user.user_type_id == 3"
       routerLink="/profile/experiences"
       routerLinkActive="active">
        Experiences
    </a>
    <a *ngIf="user.user_type_id == 3"
       routerLink="/profile/education"
       routerLinkActive="active">
        Formations
    </a>
    <a *ngIf="user.user_type_id == 3"
       routerLink="/profile/applications"
       routerLinkActive="active">
        Candidatures
    </a>
    <a *ngIf="user.user_type_id == 3"
       routerLink="/profile/alerts"
       routerLinkActive="active">
        Alertes
    </a>
    <a *ngIf="user.user_type_id == 3"
       routerLink="/profile/testimonials"
       routerLinkActive="active">
        Recommandations
    </a>
    <a *ngIf="user.user_type_id == 2"
       routerLink="/profile/businesses"
       routerLinkActive="active">
        Établissements
    </a>
    <a *ngIf="user.user_type_id == 2"
       routerLink="/profile/job-posts"
       routerLinkActive="active">
        Annonces
    </a>
    <a *ngIf="user.user_type_id == 2"
       routerLink="/profile/applicants"
       routerLinkActive="active">
        Postulants
    </a>
    <a *ngIf="user.user_type_id == 2"
       routerLink="/profile/mail-templates"
       routerLinkActive="active">
        Profils correspondants
    </a>
    <a *ngIf="user.user_type_id == 1"
       routerLink="/profile/mail-templates"
       routerLinkActive="active">
        Mails
    </a>
    <a *ngIf="user.user_type_id == 1"
       routerLink="/profile/website-editor"
       routerLinkActive="active">
        Éditeur
    </a>

</div>