<!-- User is connected -->
<div class="user-infos row hidden-xs"
     *ngIf="user.user_type_id == 2">
    <div *ngFor="let plan of plans"
         class="col-md-12">
        <div class="plan"
             *ngIf="plan.credits > 0 && user.user_type_id == 2">
            <div class="col-md-12 plan-credits">
                {{ plan.credits }} crédits
                <hr />
            </div>
            <div class="col-md-12 plan-infos">
                {{ plan.pricing_plan.daily_contacts }} contacts disponibles<br /><br />
                Payé le {{ plan.created_at }}
            </div>
            <div class="col-md-12 bill-paid">

            </div>
            <div class="col-md-12 no-padding">
                <button class="btn btn-primary full-width">
                    Mon abonnement
                </button>
            </div>
        </div>
    </div >
</div>

<div class="profile-sidebar-menu"
     [class.full-height]="isMobileMenuVisible">
    <div class="col-md-12 col-sm-10 col-xs-10">
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/apercu"
           routerLinkActive="active"
           [class.visible]="isMobileMenuVisible">
            <i class="icon-eye"></i> &nbsp; Aperçu du profil
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/experiences"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-badge"></i> &nbsp; Experiences
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/formations"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-graduation"></i> &nbsp; Formations
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/candidatures"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user-follow"></i> &nbsp; Candidatures
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/alertes"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-bell"></i> &nbsp; Alertes
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profil/recommandations"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-like"></i> &nbsp; Recommandations
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/annonces"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-list"></i> &nbsp; Annonces
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/postulants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user-following"></i> &nbsp; Postulants
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/profils-correspondants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-user"></i> &nbsp; Profils correspondants
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/etablissements"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-layers"></i> &nbsp; Établissements
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profil/demandes_de_recommandation"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-like"></i> &nbsp; Recommandations
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/mail-templates"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-envelope-open"></i> &nbsp; Mails
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profil/website-editor"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <i class="icon-grid"></i> &nbsp; Éditeur
        </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 mobile-menu-toggle"
         (click)="isMobileMenuVisible = !isMobileMenuVisible">
        <i [class.icon-plus]="!isMobileMenuVisible"
           [class.icon-close]="isMobileMenuVisible"></i>
    </div>
</div>