<!-- User is connected -->
<div class="user-infos row hidden-xs">
    <div class="col-md-12 user-title">
        {{ user.firstName }} {{ user.lastName }}<br/>
    </div>
    <div *ngFor="let plan of plans"
         class="col-md-12">
        <div class="plan"
             *ngIf="plan.credits > 0 && user.user_type_id == 2">
            <div class="col-md-6 plan-credits">
                {{ plan.credits }} crédits
            </div>
            <div class="col-md-6 plan-contacts">
                {{ plan.pricing_plan.daily_contacts }} contacts
            </div>
            <a routerLink="/profile/job-post/create">
                <button class="btn btn-default new-job-post-btn">
                    <span class="fa fa-plus-circle"></span> &nbsp;Publier une offre
                </button>
            </a>
        </div>
    </div >
</div>

<div class="profile-sidebar-menu">
    <div class="col-md-12 col-sm-10 col-xs-10">
        <a routerLink="/profile/show"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            <div class="col-md-12 col-sm-10 col-xs-10">
                Aperçu du profil
            </div>
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profile/experiences"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Experiences
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profile/education"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Formations
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profile/applications"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Candidatures
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profile/alerts"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Alertes
        </a>
        <a *ngIf="user.user_type_id == 3"
           routerLink="/profile/testimonials"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Recommandations
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profile/businesses"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Établissements
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profile/job-posts"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Annonces
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profile/applicants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Postulants
        </a>
        <a *ngIf="user.user_type_id == 2"
           routerLink="/profile/applicants"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Profils correspondants
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profile/mail-templates"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Mails
        </a>
        <a *ngIf="user.user_type_id == 1"
           routerLink="/profile/website-editor"
           [class.visible]="isMobileMenuVisible"
           routerLinkActive="active">
            Éditeur
        </a>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 mobile-menu-toggle"
         (click)="isMobileMenuVisible = !isMobileMenuVisible">
        <i [class.icon-plus]="!isMobileMenuVisible"
           [class.icon-close]="isMobileMenuVisible"></i>
    </div>
</div>