<div class="recruiter-promo-heading">
    <div class="promo-container">
        <div class="col-md-8 promo-label">
            <h1>Rejoignez le réseau et simplifiez vos recrutements</h1>
            <h2>Des centaines de candidats vous attendent</h2>
        </div>
        <div class="col-md-4">
            <div class="sign-up-box row">
                <div class="col-md-12">
                    <h2 class="centered">Pas encore inscrit ?</h2>
                </div>
                <div class="col-md-12"
                     *ngIf="error">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <h4>{{ error }}</h4>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="text"
                           name="lastName"
                           [(ngModel)]="userLastName"
                           ngControl="userLastName"
                           placeholder="Votre nom"
                           class="form-control"/>
                </div>
                <div class="col-md-12">
                    <input type="text"
                           name="lastName"
                           [(ngModel)]="userFirstName"
                           ngControl="userFirstName"
                           placeholder="Votre prénom"
                           class="form-control"/>
                </div>
                <div class="col-md-12">
                    <input type="email"
                           name="email"
                           [(ngModel)]="email"
                           ngControl="email"
                           placeholder="Votre email"
                           class="form-control"/>
                </div>
                <div class="col-md-12">
                    <input type="password"
                           name="password"
                           [(ngModel)]="password"
                           ngControl="password"
                           placeholder="Votre mot de passe"
                           class="form-control"/>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary full-width"
                            [class.disabled]="isAlreadySignedUp"
                            (click)="signUp()">
                        M'inscrire
                    </button>
                </div>
            </div>
            <div class="login-box row">
                <div class="col-md-12">
                    <h2 class="centered">Déjà membre ?</h2>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary full-width">
                        Me connecter
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>