<br />
<br />
<button class="btn btn-primary centered"
        [class.disabled]="isAlreadySignedUp"
        (click)="signUpModal.show()">
    M'inscrire
</button>

<div bsModal
     #signUpModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button class="hidden"
                        (click)="signUpModal.hide()"
                        id="close-sign-up-modal">

                </button>
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-12"
                             *ngIf="error">
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <h4>{{ error }}</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="text"
                                   [(ngModel)]="email"
                                   name="email"
                                   ngControl="email"
                                   placeholder="E-mail"
                                   class="form-control"/>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <input type="password"
                                   [(ngModel)]="password"
                                   ngControl="password"
                                   name="password"
                                   pattern=".{6,25}"
                                   placeholder="Mot de passe"
                                   class="form-control"/>
                        </div>
                        <div class="col-md-12">
                            <br />
                            <button (click)="submitEmailAndPassword()"
                                   class="btn btn-primary full-width">
                                Valider
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>