<!-- User is not connected -->
<li *ngIf="!user">
    <a (click)="signInModal.show()">
        Se connecter
    </a>
</li>

<!-- User is connected -->
<li *ngIf="user">
    <a (click)="logout()">
        Déconnexion
    </a>
</li>

<div bsModal
     #signInModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     id="sign-in-modal"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form class="row"
                      method="post"
                      action="#"
                      *ngIf="!forgotPassword"
                      #loginForm="ngForm">
                    <a href="/api/public/auth/google">
                        <div class="col-md-12 google-login"
                             *ngIf="!forgotPassword">
                            <span class="fa fa-google"></span>  &nbsp; Google
                        </div>
                    </a>
                    <a href="/api/public/auth/linkedin">
                        <div class="col-md-12 linkedin-login"
                             *ngIf="!forgotPassword">
                            <span class="fa fa-linkedin"></span> &nbsp; Linkedin
                        </div>
                    </a>
                    <div class="col-md-12">
                        <input type="text"
                               placeholder="Email"
                               class="form-control"
                               ngControl="email"
                               [(ngModel)]="email"
                               required
                               name="email"/>
                    </div>
                    <div class="col-md-12">
                        <input type="password"
                               placeholder="Mot de passe"
                               class="form-control"
                               ngControl="password"
                               [(ngModel)]="password"
                               required
                               name="password"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 remember-me">
                        <label>
                            <input type="checkbox"/> &nbsp; Se souvenir de moi
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 forgot-password"
                         (click)="forgotPassword=!forgotPassword">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button (click)="signInModal.hide()"
                                class="close-modal"
                                id="close-sign-in-modal"
                                *ngIf="!forgotPassword">
                            Fermer
                        </button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="fa fa-spin fa-spinner loading" *ngIf="loading"></span>
                        <input type="button"
                               (click)="login()"
                               value="Se connecter" *ngIf="!loading"/>
                    </div>
                </form>
                <form action="#"
                      method="post"
                      *ngIf="forgotPassword"
                      (submit)="resetPassword()"
                      #forgotPwdForm="ngForm"
                      class="row">
                    <div class="col-md-12">
                        <input type="text"
                               [(ngModel)]="email"
                               ngControl="email"
                               required
                               class="form-control"
                               placeholder="Email"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="button"
                               class="back-to-login"
                               (click)="forgotPassword=!forgotPassword"
                               *ngIf="forgotPassword"
                               value="Retour"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6"
                         *ngIf="!isPasswordReset && !loading">
                        <input type="button"
                               value="Envoyer"/>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 email-sent">
                        <span class="fa fa-spin fa-spinner" *ngIf="loading"></span>
                        <span *ngIf="isPasswordReset && !loading">
                            <span class="fa fa-check" ></span> &nbsp;
                            Un mail vous a été envoyé
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>