<div class="col-md-12 header-container">
    <h1>
        Vous avez {{ testimonials.length }} recommandation<span *ngIf="testimonials.length > 1">s</span>
    </h1>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li *ngFor="let testimonial of testimonials"
            class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 [class.logo]="testimonial.business.logo">
                <a routerLink="/recherche">
                    <div class="col-md-2 col-sm-2 hidden-xs" *ngIf="testimonial.business.logo">
                        <img src="{{ testimonial.business.logo }}"
                             class="full-width"/>
                    </div>
                    <div [class.col-md-5]="testimonial.business.logo"
                         [class.col-md-7]="!testimonial.business.logo"
                         [class.col-sm-5]="testimonial.business.logo"
                         [class.col-sm-7]="!testimonial.business.logo"
                         class="col-xs-8">
                        <h3>{{ testimonial.job_naming.title }}</h3>
                        {{ testimonial.business.title }} - {{ testimonial.business.place.city }}
                        <br />
                        Recommandé par {{ testimonial.recruiter.firstName }} {{ testimonial.recruiter.lastName }}
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>