<div class="col-md-12 header-container">
    <div class="col-md-9 col-sm-9 col-xs-8 items-count">
        {{ testimonials.length }} recommandation<span *ngIf="testimonials.length > 1">s</span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-4 actions-container">
        <button routerLink="/job-search/">
            <span class="fa fa-plus"></span>
        </button>
        <button (click)="deleteSelectedItems()">
            <span class="fa fa-trash-o"></span>
        </button>
    </div>
</div>

<div class="col-md-12 list-container">
    <ul>
        <li *ngFor="let testimonial of testimonials"
            class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 item"
                 [class.logo]="testimonial.business.logo">
                <a routerLink="/job-search">
                    <div class="item-desc">
                        <h3>{{ testimonial.job_naming.title }}</h3>
                        {{ testimonial.business.title }}
                    </div>
                    <div class="logo">
                        <img src="https://s3-eu-west-1.amazonaws.com/oechr-business-logo/{{ testimonial.business.id }}.jpg"/>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>