<accordion [closeOthers]="true">
    <accordion-group heading="Bandeau promo page d'accueil">
        <unity-tinymce [mceContent]="'test'"
                       (newContentInput)="homePromoChanged($event)">

        </unity-tinymce>
    </accordion-group>
    <accordion-group heading="Partenaires page d'accueil">
        <business-select [isMultiple]="true"></business-select>
        <button class="btn btn-primary">
            Sauvegarder les partenaires
        </button>
    </accordion-group>
</accordion>