.cropping-result {
  position: absolute;
  margin-left: 20px;
}

.file-drop-zone {
  text-align: center;
  background-color: white;
  border: 2px dashed #d0d0d0;
  font-family: $mainMediumFontFamily;
  padding: 15px;

  &.nv-file-over {
    color: $oechrBlueColor;
    border: 2px solid $oechrBlueColor;
  }
}