job-search-sidebar {
  width: 25%;
  float: left;

  .sidebar-container {
    padding-top: 35px;
  }

  .google-maps-container {
    padding: 0 15px 15px 15px;
    margin-top: 0;
    margin-bottom: 30px;

    #google-map {
      height: 200px;
      display: block;
    }
  }

  .params-container {
    .badge {
      margin-left: 15px;
    }
  }

  .search-summary {
    font-size: 1.2em;
    margin-bottom: 35px;
    text-align: center;

    .badge {
      color: white;
      margin: 5px;
      text-transform: lowercase;
      max-width: 250px;
      overflow: hidden;

      .remove {
        color: white;
      }

      &.job-badge {
        background-color: $oechrBlueColor;
      }

      &.location-badge {
        background-color: #07ad70;
        text-transform: capitalize;
      }

      &.contract-type-badge {
        background-color: $warningColor;
      }

      &.study-level-badge {
        background-color: #752794;
      }
    }
  }

  h3 {
    cursor: pointer;
    font-size: 1.15em;
    text-transform: uppercase;
    font-family: $mainBoldFontFamily;
    padding: 10px 7px;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .collapse {
    padding: 0;

  }

  label {
    font-weight: inherit;
  }

  ul  {
    padding: 10px;
    background: white;

    li  {
      padding: 10px 10px 10px 10px;
      font-family: $mainMediumFontFamily;
      color: #6d6d6d;
      cursor: pointer;

      .group  {
        font-family: $mainBoldFontFamily;
      }

      .title-container {
        padding-left: 0;
        color: #333;
      }

      &:hover, &.active {
        background-color: #f0f0f0;
      }

      &.active {
        font-family: $mainBoldFontFamily;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  job-search-sidebar {
    background-color: rgba(0, 0, 0, 0.61);
    margin: 30px 0 0 0;
    width: 100%;

    .visible {
      display: block !important;
    }

    .mobile-search-toggle {
      font-size: 1.5em;
    }

    .params-container,
    .google-maps-container,
    .location-input-container {
      display: none;
    }

    .sidebar-container {
      padding: 20px;

      &.shown {
        display: block;
      }
    }

    .search-summary {
      color: white;
      margin: 0;

      &.mobile-menu-open {
        margin-bottom: 25px;
      }
    }
  }
}