new-application-form {
  display: inline-block;
  padding-top: 20px;
}

new-application-form .back-btn-container,
new-application-form .apply-btn-container {
  margin-top: 15px;
}

new-application-form .back-btn-container button,
new-application-form .apply-btn-container button {
  width: 100%;
  height: $mainButtonHeight;
}